{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block page-css %}
<style>
  .custom-scroll {
    max-height: 300px;
    overflow: auto; 
  }
  .chart-container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  #myChart{
    font-family: IRANSans !important; 
  }

  .chart-container canvas {
    min-width: 400px; 
    min-height: 150px; 
  }
</style>
{% endblock %}

{% block content %}

<!-- Bordered Table -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
      <h5 class="card-header">گزارش مالی</h5>
      <div class="card-body">
      <small class="fw-medium">انتخاب سال</small>
      <!-- form for year selection start -->
      <div class="demo-inline-spacing mb-4">
        <div class="btn-group">
          <button type="button" class="btn btn-label-primary dropdown-toggle d-flex justify-content-between align-items-center"
          style="width: 160px !important;" data-bs-toggle="dropdown" aria-expanded="false">
            {{ selected_year }}
          </button>
          <ul class="dropdown-menu custom-scroll">
            {% for year in years %}
            <li><a class="dropdown-item" href="{% url 'reserve:financial-report' year %}">{{ year }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- form for year selection end -->
      <!-- financial table start -->
      <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
          <thead>
              <tr>
              <th>اتاق‌ها/ماه</th>
              {% for number, month in months %}
              <th>{{ month }}</th>
              {% endfor %}
              <th>درصد میانگین <br> اشغال اتاق</th>
              </tr>
          </thead>
          <tbody>
              {% for room_name, room_data in list_of_a_year.items %}
              <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <span class="fw-medium">{{ room_name }}</span></td>
                  <!-- درصد اشغال‌شدگی ماهانه -->
                  {% for month, percent in room_data.monthly.items %}
                  <td>
                      {% if percent == 0 %}
                          0
                      {% else %}
                          %{{ percent  | floatformat:2  }}
                      {% endif %}
                  </td>
                  {% endfor %}
                  <!-- میانگین درصد اشغال‌شدگی سالانه -->
                  <td>
                      {% if room_data.yearly == 0 %}
                          0
                      {% else %}
                          %{{ room_data.yearly  |floatformat:2  }}
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
              <tr>
                <td>درصد میانگین <br>اشغال در ماه</td>
                {% for month, avg_precent in avg_in_months.items %}
                <td>
                  {% if avg_precent == 0 %}
                    0
                  {% else %}
                    %{{ avg_precent  | floatformat:2  }}
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
          </tbody>
          </table>
      </div>
      <!-- financial table end -->
      </div>
  </div>

  <!--  financial char start -->
  <div class="card my-5">
    <h5 class="card-header">نمودار گزارش مالی</h5>
    <h6 class="card-header">سال {{ selected_year }}</h6>
    <div class="card-body chart-container">
      <canvas id="myChart" width="400" height="150"></canvas>
    </div>
  </div>
  <!--  financial char end -->
</div>
<!--/ Bordered Table -->

{% endblock %}




{% block page-js %}
<script src="{% static 'js/chart.js' %}"></script>
<script>
  const onlinePayData = JSON.parse('{{ online_pay_list|escapejs }}');
  const onLocalPayData = JSON.parse('{{ onlocalpay_list|escapejs }}');
  const ctx = document.getElementById('myChart').getContext('2d');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["فروردین","اردیبهشت","خرداد","تیر","مرداد","شهریور","مهر","آبان","آذر","دی","بهمن","اسفند"],
      datasets: [
        {
          label: 'پرداخت آنلاین',
          data: onlinePayData,
          backgroundColor: '#1E3A8A'
        },
        {
          label: 'پرداخت حضوری',
          data: onLocalPayData,
          backgroundColor: '#60A5FA'
        }
      ]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          labels: {
            position: 'top',
            font: {
              family: 'IRANSans' // فقط تغییر فونت برای عنوان‌ها
            }
          }
        }
      },
      scales: {
        x: { 
          stacked: true,
          ticks: {
            font: {
              family: 'IRANSans' // فقط تغییر فونت برای لیبل‌های محور X
            }
          }
        },
        y: { 
          stacked: true,
          ticks: {
            font: {
              family: 'IRANSans' // فقط تغییر فونت برای لیبل‌های محور X
            }
          }
        }
      }
    }
  });
</script>
{% endblock %}