{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
<link href="{% static 'mobiscroll/mobiscroll.javascript.min.css' %}" rel="stylesheet" />
<script src="{% static 'mobiscroll/mobiscroll.javascript.min.js' %}"></script>

<!-- Bootstrap JavaScript (bundle includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<style>
  @media screen and (min-width: 768px) {
    .layout-navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
      left: 10% !important;
    }
  }
</style>

{% endblock %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-calendar.css' %}" />
<link rel="stylesheet" href="{% static 'calendar/style.css' %}" />
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card app-calendar-wrapper mx-xl-4" {% if request.user.user_status == "normal" %} id="openModal" {% endif %}>
    <div class="row g-0">
      <!-- Calendar & Modal -->
      <div id="demo-add-delete-event" class="md-date-header-template mbsc-cloak md-pages">
      </div>
      <div style="display: none">
        <div id="demo-add-popup">
          {% if not request.user.user_status == "normal" %}
          <div class="mbsc-form-group" style="margin: 20px;">
            <div class="row">
              <!-- First Column -->
              <div class="col-md-6 col-6">
                <label for="event-title">نام</label>
                <input type="text" class="form-control input edite-style" id="event-title" name="event-title" required>

                {% if request.user.user_status != "verified" %}
                <label for="event-status">وضعیت</label>
                <select class="form-control edite-style" id="event-status" name="event-status" required>
                  <option value="pending_payment">در انتظار پرداخت</option>
                  <option value="confirmed">تایید شده</option>
                  <option value="closetime">غیرقابل رزرو</option>
                  <option value="onlocalpay">پرداخت حضوری</option>
                </select>
                {% else %}
                <label for="event-status" class="d-none" id="lable-edite-popup-status">وضعیت</label>
                <input type="text" class="form-control input d-none edite-style" id="edite-popup-status">
                {% endif %}
                <span id="event-capacity" name="event-capacity"></span><br>
                <input type="number" class="form-control edite-style" id="event-more-capacity" name="event-more-capacity" min="1"><br>
                <div class="alert alert-danger d-none" id="event-more-capacity-alert" role="alert"></div>                
                <label for="event-cleaning" {% if request.user.user_status == "verified" %} class="d-none" {% endif %}>نظافت:</label>
                <input type="checkbox" id="event-cleaning" name="event-cleaning" class="edite-style {% if request.user.user_status == 'verified' %} d-none {% endif %}">
                {% if request.user.user_status != "verified" %}
                <label for="event-paid">وضعیت پرداخت:</label>
                <input type="checkbox" id="event-paid" name="event-paid" class="edite-style">
                {% endif %}
              </div>
              <!-- Second Column -->
              <div class="col-md-6 col-6">
                {% if request.user.user_status != "verified" %}
                <label for="event-user">شماره تلفن</label>
                <input type="text" class="form-control input edite-style" id="event-user" name="event-user" required>
                {% endif %}
                <label for="event-resource">اتاق</label>
                <select class="form-control edite-style" id="event-resource" name="event-resource" required>
                  {% for resources in resources %}
                  <option value="{{resources.id}}">{{resources.name}}</option>
                  {% endfor %}
                </select>
                <label for="event-price">قیمت هر شب</label>
                <span class="form-control" id="event-price" name="event-price"></span>
                <span class="text-secondary" style="font-size: 11px;">در زمان‌های پیک قیمت‌ها بیشتر از حالت عادی است.</span>
              </div>
            </div>
          </div>
          <div class="mbsc-form-group">
            <div mbsc-page class="demo-range-select">
              <div style="height:100%">
                <div id="demo-range-selection"></div>
              </div>
            </div>
            <div class="mbsc-button-group">
              <button class="mbsc-button-block {% if request.user.user_status == 'verified' %} d-none {% endif %}" id="event-delete" mbsc-button data-color="danger"
                data-variant="outline">حذف رزرو</button>
              <button class="mbsc-button-block" id="event-pay" mbsc-button data-color="danger"
                data-variant="outline">پرداخت</button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages %}
<div class="toast-container custom-toast-container">
  {% for message in messages %}
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
    <div class="toast-header">
      <strong class="me-auto">{{ message.tags }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <hr>
</div>
{% endif %}
{% if request.user.user_status == "normal" %}
<!-- modal for normal user -->
<div id="myModal-normal-user" class="modal"
  style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
  <div class="modal-content" style="background:#fff; padding:20px; margin:15% auto; width:50%;">
    <!-- <span id="closeModal" style="cursor:pointer;">&times;</span> -->
    <h5 class="text-danger">هشدار</h5>
    <div class="alert alert-danger" role="alert">
      لطفا صبور باشید تا ثبت‌نام شما تائید شود. بعد از تائید برای شما پیامک ارسال خواهد شد و می‌توانید رزرو خود را انجام
      دهید.
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-danger" id="closeModal">بستن</button>
    </div>
  </div>
</div>
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, { delay: 1000000000 });
    });
    toastList.forEach(toast => toast.show());
  });
</script>
{% if request.user.user_status == "normal" %}
<script>
  document.getElementById("openModal").addEventListener("click", function () {
    document.getElementById("myModal-normal-user").style.display = "block";
  });
  document.getElementById("closeModal").addEventListener("click", function () {
    document.getElementById("myModal-normal-user").style.display = "none";
  });
</script>
{% endif %}
<script>
  mobiscroll.setOptions({
    locale: mobiscroll.localeFa,
    theme: 'ios',
    themeVariant: 'light'
  });

  var reservationData = {{ reservation_data| safe }};
  var resourceData = {{ resource_data| safe }};
  var invalidreservation = {{ closed_time_data| safe }};

  var popup, oldEvent, tempEvent = {}, deleteEvent;
  var startcalendar = '2024-04-20';
  var endcalendar = '2025-04-20';
  var deleteButton = document.getElementById('event-delete');
  var paymentButton = document.getElementById('event-pay');

  // Initialize datepicker for reservation
  var datepickerreserve = mobiscroll.datepicker('#demo-range-selection', {
    controls: ['calendar'],
    display: 'inline',
    selectCounter: true,
    focusOnOpen: true,
    rangeSelectMode: 'wizard',
    select: 'range',
    showRangeLabels: true,
  });

  function createAddPopup(elm, resourceId, tempEvent) {
    // انتخاب تمام عناصر با کلاس 'edite-style'
    var elements = document.querySelectorAll('.edite-style');
    const warningEl = document.getElementById('event-more-capacity-alert');
    warningEl.classList.add('d-none')

    // پیمایش و غیرفعال کردن هر عنصر
    elements.forEach(function(element) {
      element.disabled = false;
    });
    if(deleteButton){
      deleteButton.style.display = 'none';
    }
    $('#edite-popup-status').addClass('d-none')
    $('#lable-edite-popup-status').addClass('d-none')
    paymentButton.textContent = 'پرداخت'


    deleteEvent = true;
    restoreEvent = false;
    var matchingResource = resourceData.find(resource => resource.id === resourceId);

    // Reset form fields
    $('#event-title').val('');
    {% if request.user.user_status != "verified" %}
    $('#event-status').val('');
    {% endif %}
    $('#event-user').val('');
    $('#event-buffer').val('');
    $('#start-input').val('');
    $('#end-input').val('');
    $('#event-resource').val(resourceId);
    $('#event-capacity').text(`تعداد نفرات ${matchingResource.capacity} نفر`);
    $('#event-price').text(matchingResource.price);
    $('#event-cleaning').prop('checked', true);
    $('#event-more-capacity').val(1); // I chnage this val to one
    $('#event-more-capacity').attr('max', matchingResource.capacity + 6);
    $('#event-paid').prop('checked', false);
    $('#event-price-per-person').text(matchingResource.price_per_person);


    firstday = tempEvent.start;
    lastday = tempEvent.end;
    datepickerreserve.setVal([firstday, lastday]);

    $('#event-more-capacity').off('input').on('input', function () {
      const value = parseInt(this.value, 10);
      checkMaxValue(value, matchingResource.capacity + 6);
    });




    popup.open();
    popup.setOptions({
      headerText: 'افزودن رزرو',
      buttons: [
        'cancel',
        {% if request.user.user_status != "verified" %}
        {
        text: 'ذخیره',
        keyCode: 'enter',
        handler: function () {
          var reservtime = datepickerreserve.getVal();
          const startreserve = new Date(reservtime[0]);
          const endreserve = new Date(reservtime[1]);
          deleteEvent = false;
          addReservation({
            title: $('#event-title').val(),
            mobile_number: $('#event-user').val(),
            start: toUTCISOString(startreserve, 14, 0),
            end: toUTCISOString(endreserve, 12, 0),
            resource: $('#event-resource').val(),
            status: $('#event-status').val(),
            cleaning: $('#event-cleaning').prop('checked'),
            more_capacity: $('#event-more-capacity').val(),
            paid: $('#event-paid').prop('checked'),
          });
          popup.close();
        },

        cssClass: 'mbsc-popup-button-primary'
      },
      {% endif %}
        ],
    anchor: elm,
    position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' }
    });


  var eventResourceSelect = document.getElementById('event-resource');
  var eventExtraPersonSelect = document.getElementById('event-more-capacity')
  eventResourceSelect.addEventListener('change', function () {
    var selectedOption = eventResourceSelect.options[eventResourceSelect.selectedIndex];
    var resourceId = parseInt(selectedOption.value);

    var matchedResource = resourceData.find(resource => resource.id === resourceId);
    $('#event-resource').val(resourceId);
    $('#event-capacity').text(`تعداد نفرات ${matchedResource.capacity} نفر`);
    $('#event-price').text(matchedResource.price);
    $('#event-cleaning').prop('checked', true);
    $('#event-more-capacity').val(1);
    $('#event-more-capacity').attr('max', matchedResource.capacity + 6)
    $('#event-paid').prop('checked', false);
    $('#event-price-per-person').text(matchedResource.price_per_person);

    $('#event-more-capacity').off('input').on('input', function () {
      const value = parseInt(this.value, 10);
      checkMaxValue(value, matchedResource.capacity + 6);
    });
    // تغییر قیمت بر اساس تعداد نفرات اضافه
    $('#event-more-capacity').off('input.price').on('input.price', function () {
      const inputValue = parseInt(this.value, 10);
      const max = parseInt($(this).attr('max'), 10);

      if (inputValue > max || isNaN(inputValue)) return; 

      if (inputValue > matchedResource.capacity) {
        var new_price = (inputValue - matchedResource.capacity) * matchedResource.price_per_person + matchedResource.price;
        $('#event-price').text(new_price);
      } else {
        $('#event-price').text(matchedResource.price);
      }
    });
  });

  $('#event-more-capacity').on('input.price', function () {
    var inputValue = parseInt(document.getElementById('event-more-capacity').value, 10);
    
    var selectedOption = eventResourceSelect.options[eventResourceSelect.selectedIndex];
    var resourceId = parseInt(selectedOption.value);

    var matchedResource = resourceData.find(resource => resource.id === resourceId);

    if( inputValue > matchedResource.capacity){
      var new_price = (inputValue - matchedResource.capacity) * matchedResource.price_per_person + matchedResource.price
      $('#event-price').text(new_price);
    }else{
      $('#event-price').text(matchedResource.price);
    }
  })


  document.getElementById('event-pay').addEventListener('click', async function () {
    var reservtime = datepickerreserve.getVal();
    const startreserve = new Date(reservtime[0]);
    const endreserve = new Date(reservtime[1]);
    deleteEvent = false;
    try {
      const reservationId = await addReservation({
        title: $('#event-title').val(),
        {% if request.user.user_status != "verified" %}
          mobile_number: $('#event-user').val(),
        {% endif %}                
        start: toUTCISOString(startreserve, 14, 0),
        end: toUTCISOString(endreserve, 12, 0),
        resource: $('#event-resource').val(),
        {% if request.user.user_status != 'verified' %}
          status: $('#event-status').val(),
        {% endif %}
        cleaning: $('#event-cleaning').prop('checked'),
        more_capacity: $('#event-more-capacity').val(),
        paid: $('#event-paid').prop('checked')
      });
      console.log('Reservation added successfully with ID:', reservationId);
      window.location.href = "/reserve/bill/" + reservationId + "/"; // Redirect to purchase settings
    } catch (error) {
      console.log('Failed to add reservation.');
    }    
  });
  }

  function addReservation(data) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: 'reserve/add_reservation/',
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          ...data
        },
        success: function (response) {
          if (response.success) {
            myCalendar.refresh();
            resolve(response.reservation_id);
            location.reload(true);
          } else {
            // alert("خطا: " + response.error);
            reject(null);
          }
        },
        error: function (xhr, status, error) {
          reject(null);
          // alert("خطا در ثبت رزور: " + error);
          location.reload(true);
        }
      });
    });
  }


  function createEditPopup(args, resourceId) {
    var ev = args.event;

    var matchingResource = resourceData.find(resource => resource.id === resourceId);

    firstday = ev.start;
    lastday = ev.end;
    datepickerreserve.setVal([firstday, lastday]);


    {% if request.user.user_status != "verified" %}
      deleteButton.style.display = 'block';
    {% endif %}
    paymentButton.textContent = 'پرداخت'
    // انتخاب تمام عناصر با کلاس 'edite-style'
    var elements = document.querySelectorAll('.edite-style');

    // پیمایش و غیرفعال کردن هر عنصر
    elements.forEach(function(element) {
      element.disabled = true;
    });

    deleteEvent = false;
    restoreEvent = true;

    popup.setOptions({
      headerText: 'مشخصات رزرو',
      buttons: [
        'cancel',
      ],
      anchor: args.domEvent.currentTarget,
      position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' }
    });

    var eventExtraPersonSelect = document.getElementById('event-more-capacity')
    eventExtraPersonSelect.addEventListener('change', function () {
      var inputValue = parseInt(document.getElementById('event-more-capacity').value, 10);
      if( inputValue > matchingResource.capacity){
        var new_price = (inputValue - matchingResource.capacity) * matchingResource.price_per_person + matchingResource.price
        $('#event-price').text(new_price);
      }else{
        $('#event-price').text(matchingResource.price);
      }
    })
    fetchReservationInfo(ev.reserve_id, matchingResource.capacity);

    document.getElementById('event-pay').addEventListener('click', function () {
      window.location.href = "/reserve/bill/" + ev.reserve_id + "/"; // Redirect to purchase settings
    });

  }


  function fetchReservationInfo(reservation_id, capacity) {
    $.ajax({
      url: 'reserve/get_reservation_info/',
      method: 'GET',
      data: { reservation_id: reservation_id },
      success: function (data) {
        fillPopupWithData(data, capacity);
        popup.open();
      },
      error: function () {
        alert('خطا در دریافت اطلاعات رزرو');
      }
    });
  }

  function fillPopupWithData(data, capacity) {
    $('#event-title').val(data.title);
    $('#event-status').val(data.status);
    $('#event-buffer').val(data.bufferAfter);
    $('#event-buffer').prop('checked', data.bufferAfter);
    $('#event-user').val(data.mobile_number);
    $('#start-input').val(data.start);
    $('#end-input').val(data.end);
    $('#event-resource').val(data.resources);
    $('#event-cleaning').prop('checked', data.cleaning);
    $('#event-capacity').text(`تعداد نفرات ${data.capacity} نفر`);
    $('#event-more-capacity').val(data.morecapacity);
    $('#event-more-capacity').attr('max', capacity +6);
    $('#event-paid').prop('checked', data.paid);
    $('#event-price-per-person').text(data.price_per_person);

    if(data.paid == true || data.status == 'cleaning'){
      paymentButton.textContent = 'صورت حساب'
    }

    const statusMap = {
      'pending_payment': 'در انتظار پرداخت',
      'confirmed': 'تایید شده',
      'onlocalpay': 'پرداخت حضوری',
      'canceled': 'کنسل شده',
      'closetime': 'زمان تعطیلی',
      'cleaning': 'زمان نظافت'
    };

    const status = data.status;
    if (statusMap[status]) {
      $('#edite-popup-status').val(statusMap[status]);
    }

    $('#edite-popup-status').removeClass('d-none')
    $('#lable-edite-popup-status').removeClass('d-none')

    if( data.morecapacity > capacity){
      var new_price = (data.morecapacity - capacity) * data.price_per_person + data.price
      $('#event-price').text(new_price);
    }else{
      $('#event-price').text(data.price);
    }

    firstday = data.start;
    lastday = data.end;
    datepickerreserve.setVal([firstday, lastday]);
  }

  var formatDate = mobiscroll.formatDate;
  var startDate;
  var endDate;
  var end;

  var myCalendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
    locale: mobiscroll.localeFa,
    clickToCreate: 'double',
    dragToCreate: true,
    dragToMove: false,
    dragToResize: false,
    rtl: true,
    view: {
      timeline: {
        type: 'year',
        size: 30
      }
    },
    invalid: invalidreservation,
    data: reservationData,
    resources: resourceData,
    renderHeader: function () {
      return (
        '<div class="mbsc-form-control-wrapper mbsc-bt-cotrol-today">' +
        '<div mbsc-calendar-today></div>' +
        '</div>' +
        '<div id="custom-date-range"></div>' +
        '<label>' +
        'ورود :' +
        '<input id="start" mbsc-input placeholder="کلیک کنید" />' +
        '</label>' +
        '<label>' +
        'خروج :' +
        '<input id="end" mbsc-input placeholder="کلیک کنید" />' +
        '</label>'
      );
    },
    onPageLoaded: function (args) {
      startDate = args.firstDay;
      end = args.lastDay;
      endDate = new Date(args.lastDay.getFullYear(), args.lastDay.getMonth(), args.lastDay.getDate() - 1, 0);
    },
    onEventClick: function (args) {
      tempEvent = args.event;
      resourceId = args.event.resource;
      if ((!popup.isVisible()) && args.event.reserve_id) {
        createEditPopup(args, resourceId);
      }
    },
    onEventCreated: function (args) {
      resourceId = args.event.resource;
      tempEvent = args.event;
      createAddPopup(args.target, resourceId, tempEvent);
    },
    onEventDeleted: function (args) {
      mobiscroll.snackbar({
        button: {
          action: function () {
            myCalendar.addEvent(args.event);
          },
          text: 'Undo'
        },
        message: 'Event deleted'
      });
    }
  });

  popup = mobiscroll.popup('#demo-add-popup', {
    display: 'bottom',
    contentPadding: false,
    fullScreen: true,
    onClose: function () {
      if (deleteEvent) {
        myCalendar.removeEvent(tempEvent);
      } else if (restoreEvent) {
        myCalendar.updateEvent(oldEvent);
      }
    },
    responsive: {
      medium: {
        display: 'anchored',
        width: 400,
        height: 1200,
        fullScreen: false,
        touchUi: false
      }
    }
  });

  deleteButton.addEventListener('click', function () {
    var deletedEvent = tempEvent;
    $.ajax({
      url: 'reserve/remove_reservation/' + tempEvent.reserve_id,
      method: 'GET',
      success: function (response) {
        console.log(response)
        myCalendar.removeEvent(tempEvent);
        location.reload(true);
        popup.close();
      },
      error: function (response) {
        console.log(response)
        if (response.status === 403) {
          alert("شما نمی توانید روزر پرداخت شده را لغو کنید")
        }
        else {
          alert('خطا در دریافت اطلاعات رزرو');
        }

      }
    });
  });

  var myRange = mobiscroll.datepicker('#custom-date-range', {
    select: 'range',
    startInput: '#start',
    endInput: '#end',
    display: 'center',
    showOverlay: false,
    locale: mobiscroll.localeFa,
    touchUi: true,
    rtl: true,
    buttons: [],
    onClose: function (args, inst) {
      var date = inst.getVal();
      if (date[0] && date[1]) {
        console.log('data_0', date[0]);
        console.log('data_1', date[1]);

        if (date[0].getTime() !== startDate.getTime()) {
          var newDate = date[0].getTime() - (5 * 24 * 60 * 60 * 1000);
          var newStartDate = new Date(newDate);
          console.log(newStartDate);
          myCalendar.navigate(newStartDate);
        }

        startDate = date[0];
        endDate = date[1];

        // اضافه کردن رویداد جدید برای اتاق اول
        tempEvent = {
          id: new Date().getTime(),  // شناسه‌ی یونیک
          start: startDate,
          end: endDate,
          title: "New event",
          resource: 1,  // اتاق اول
          cssClass: 'reservation-event'
        };

        myCalendar.addEvent(tempEvent);  // اضافه کردن رویداد به تقویم

        // گرفتن المنت مربوط به رویداد ایجادشده
        setTimeout(() => {
          var eventElement = document.querySelector(`[data-id="${tempEvent.id}"]`);
          createAddPopup(eventElement, 1, tempEvent);
        }, 100);

        // وقتی پاپ‌آپ بسته شد، بررسی کن که آیا فرم تأیید شده یا نه
        popup.onClose = function () {
          if (!tempEvent.confirmed) {
            myCalendar.removeEvent(tempEvent.id);
          }
        };
        inst.setVal([]);
      } else {
        myRange.setVal([startDate, endDate]);
      }
    }
  });

  var rangeButton = document.getElementById('custom-date-range-text');

  // returns the formatted date
  function getFormattedRange(start, end) {
    return (
      formatDate('MMM D, YYYY', new Date(start)) +
      (end && getNrDays(start, end) > 1 ? ' - ' + formatDate('MMM D, YYYY', new Date(end)) : '')
    );
  }

  // returns the number of days between two dates
  function getNrDays(start, end) {
    return Math.round(Math.abs((end.setHours(0) - start.setHours(0)) / (24 * 60 * 60 * 1000))) + 1;
  }

  // Converts a Date object to an ISO 8601 formatted string in UTC.
  // This function ensures that the date remains in UTC format with zero-padded values.
  function toUTCISOString(date, hours = 0, minutes = 0) {
    // Ensure the date stays the same while setting time
    const utcDate = new Date(Date.UTC(
        date.getFullYear(), 
        date.getMonth(), 
        date.getDate(), 
        hours, 
        minutes, 
        0 // seconds
    ));
    return utcDate.toISOString(); // Correctly formatted UTC string
  }

  // تابع بررسی و نمایش هشدار
  function checkMaxValue(value, max) {
    const warningEl = document.getElementById('event-more-capacity-alert');
    warningEl.classList.add('d-none')
    if (!isNaN(value) && value > max) {
      const input = document.getElementById('event-more-capacity');
      input.value = max;
      warningEl.classList.remove('d-none')
      warningEl.innerHTML = `حداکثر مقدار مجاز ${max} هست.`
    }
  }


</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector('.mbsc-range-control-value').addEventListener('contentChanged', function () {
      var selectedResourceId = parseInt($(this).val(), 10); // Convert to integer
      var matchingResource = resourceData.find(function (resource) {
        return resource.id === selectedResourceId;
      });
      if (matchingResource) {
        $('#event-capacity').text( 'تعداد نفرات' + matchingResource.capacity + ' نفر ');
      } else {
        // Handle the case when no matching resource is found
        $('#event-capacity').text('نفری یافت نشد');
      }
      console.log("Matching Resource:", matchingResource);
    });
  });
</script>
<script>

  document.addEventListener("DOMContentLoaded", function () {
    // Get the horizontal scrollbar element
    var horizontalScrollbar = document.querySelector('.mbsc-timeline-grid-scroll');
    // Listen for the scroll event on the horizontal scrollbar
    horizontalScrollbar.addEventListener('scroll', function () {
      // Check if scrolling has stopped
      if (!this._scrolling) {
        // Set a flag to indicate scrolling has started
        this._scrolling = true;
        var self = this;
        setTimeout(function () {
          // Get the scroll position
          var scrollLeft = horizontalScrollbar.scrollLeft;
          // Get the width of the first column
          var firstColumnWidth = document.querySelector('.mbsc-timeline-column').offsetWidth;

          // Calculate the index of the nearest visible column
          var columnIndex = Math.round(scrollLeft / firstColumnWidth);

          // Calculate the new scroll position to fully display the nearest visible column
          var newScrollLeft = columnIndex * firstColumnWidth;

          // Scroll to the new position
          horizontalScrollbar.scrollTo({
            left: newScrollLeft,
            behavior: 'smooth' // Optional: smooth scrolling effect
          });

          // Reset the scrolling flag
          self._scrolling = false;
        }, 400); // Adjust the delay as needed
      }
    });
  });

</script>
{% endblock %}


{% block vondors-js %}
<script src="{% static 'vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
{% endblock %}

{% block page-js %}
<script src="{% static 'js/app-calendar-events.js' %}"></script>
<script src="{% static 'js/app-calendar.js' %}"></script>
<!-- / Content -->
<script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment-jalaali/build/moment-jalaali.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropdownToggle = document.querySelector(".nav-link.dropdown-toggle");
    const dropdownMenu = document.querySelector(".dropdown-menu");

    dropdownToggle.addEventListener("click", function (event) {
      event.preventDefault(); 
      if (dropdownMenu.classList.contains("show")) {
        dropdownMenu.classList.remove("show");
      } else {
        dropdownMenu.classList.add("show");
      }
    });

    // بستن منو وقتی بیرون از آن کلیک شود
    document.addEventListener("click", function (event) {
      if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.remove("show");
      }
    });
  });
</script>
{% endblock %}