{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}

{% endblock %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}"/>
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y" style="text-align:center;">
  <div class="row mb-5 mx-xl-2">
    {% for r in resources %}
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title">{{r.name}}</h3>
          <!-- <img class="img-fluid d-flex mx-auto my-4 rounded" src="{{r.get_img_url}}" alt="room image"/> -->
          <div id="image-slider-{{r.id}}" class="carousel slide mb-3">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ r.get_img_url }}" class="d-block w-100" alt="...">
              </div>
              {% for img in img_r %}
              {% if img.resource and img.resource.id == r.id %}
              <div class="carousel-item">
                <img src="{{ img.images.url }}" class="d-block w-100" alt="...">
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% if r.has_slider %}
            <button class="carousel-control-prev" type="button" data-bs-target="#image-slider-{{r.id}}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#image-slider-{{r.id}}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-6">
              <i class="fas fa-users"></i> 
              <span>ظرفیت</span> 
            </div>
            <div class="col-6">
              <i class="fas fa-cog"></i> 
              <span>متراژ</span> 
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <i class="fas fa-users"></i> 
              <span>{% if r.capacity %}{{r.capacity}}{% else %}-{% endif %} نفر</span> 
            </div>
            <div class="col-6">
              <i class="fas fa-users"></i> 
              <span>{% if r.number_area %}{{r.number_area}}{% else %}-{% endif %} متر</span> 
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 
</div>   
{% endblock %}


{% block vondors-js %}
<script src="{% static 'vendor/libs/masonry/masonry.js' %}"></script>
{% endblock %}
      
