{% extends 'main/base.html' %}
{% load reserve_tags %}
{% block title %}
جزئیات خرید موفق
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">جزئیات خرید</h3>
        </div>
        {% if status %}
        <div class="card-body">
            <p>خرید شما با موفقیت انجام شد. جزئیات خرید شما به شرح زیر است:</p>
            <ul>
                <li>شماره خرید: {{ RefID }}</li>
                <li>مبلغ: {{ amount | intcomma_custom }} تومان</li>
            </ul>
            <a href="{% url 'home' %}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            <a href="{% url 'reserve:bill' %}" class="btn btn-primary">بازگشت به لیست رزورها</a>
        </div>
        {% elif not status %}
        <p>خرید شما متاسفانه انجام نشد. جزئیات خطا به شرح زیر است:</p>
            <ul>
                <li>کد خطا: {{ code }}</li>
                <li>توضیحات: {{ description  }}</li>

            </ul>
            <a href="{% url 'home' %}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            <a href="{% url 'reserve:bill' %}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
        {% elif NOK %}
        <p>خرید شما موفقیت امیز نبوده است یا کاربر از پرداخت منصرف شده است.</p>
            <a href="{% url 'home' %}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            <a href="{% url 'reserve:bill' %}" class="btn btn-primary">بازگشت به لیست رزور ها</a>            
        {% endif %}
    </div>
</div>
{% endblock %}