{% load static %}
<!DOCTYPE html>
<html lang="fa" class="light-style  customizer-hide" dir="rtl" data-theme="theme-bordered" data-assets-path="{% static '' %}" data-template="vertical-menu-template-bordered">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>ورود و ثبت نام</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/materialdesignicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
   <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fonts/IRANSans.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
    

    <!-- Page CSS -->
    <!-- Page -->
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}">
      {% block styles %}
      {% endblock %}
    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
</head>

<body>

    {% block contant %}
    {% endblock %}
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>
    
    <script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>
    
    <script src="{% static 'vendor/js/menu.js' %}"></script>
    <!-- endbuild -->
  
    <!-- Vendors JS -->
    
    
  
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
  
    <!-- Page JS -->
    {% block scripts %}
    {% endblock %}
    
    
  
    
    
  </body>
  
  </html>
  
  <!-- beautify ignore:end -->
  
  