{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
<link href="{% static 'css/mobiscroll.javascript.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/mobiscroll.javascript.min.js' %}"></script>
{% endblock %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-calendar.css' %}" />

<style>
.room1{
 border-bottom: 4px solid #003C43 !important;
 min-height: 52px !important;
}
.room2{
 border-bottom: 4px solid #135D66 !important;
 min-height: 52px !important;
}
.room3{
 border-bottom: 4px solid #77B0AA !important;
 min-height: 52px !important;
}
.room4{
 border-bottom: 4px solid #58A399 !important;
 min-height: 52px !important;
}
.room5{
 border-bottom: 4px solid #ADBC9F !important;
 min-height: 52px !important;
}
.room6{
 border-bottom: 4px solid #A8CD9F !important;
 min-height: 52px !important;
}
.room7{
 border-bottom: 4px solid #C6EBC5 !important;
 min-height: 52px !important;
}
.room8{
 border-bottom: 4px solid #F9E897 !important;
 min-height: 52px !important;
}
.room9{
 border-bottom: 4px solid #F2C18D !important;
 min-height: 52px !important;
}
.room10{
 border-bottom: 4px solid #A3333D !important;
 min-height: 52px !important;
}
.room11{
 border-bottom: 4px solid #870F19 !important;
 min-height: 52px !important;
}
.room12{
  border-bottom: 4px solid #590531 !important;
  min-height: 52px !important;
}
.mbsc-timeline-resource-col, .mbsc-timeline-sidebar-col{
 width: 80px;
}
.container-xxl .flex-grow-1 .container-p-y{
 padding-right:0px;
}
.mbsc-timeline-column, .mbsc-timeline-header-column{
 width: 48px;
}
.mbsc-timeline-event-background{
  height: 36px !important;
}
.mbsc-timeline-resource-title{
  font-size: 1em;
  text-align: center;
}
</style>
{% endblock %}

{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card app-calendar-wrapper">
    <div class="row g-0">
      <!-- Calendar & Modal -->
      <div id="demo-add-delete-event" class="md-date-header-template"></div>
      <div style="display: none">
      <div id="demo-add-popup">
          <div class="mbsc-form-group">
              <label>
                  عنوان
                  <input mbsc-input id="event-title">
              </label>
              <label>
                  وضعیت
                  <input mbsc-input id="event-status">
              </label>
              <label>
                کاربر
                <input mbsc-input id="event-user">
            </label>
            <label>
              نظافت
              <input mbsc-input id="event-buffer">
          </label>
          </div>
          <div class="mbsc-form-group">
              <label>
                  زمان شروع
                  <input mbsc-input id="start-input" />
              </label>
              <label>
                  زمان پایان
                  <input mbsc-input id="end-input" />
              </label>
              <div class="mbsc-button-group">
                <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
            </div>
          </div>
      </div>
      
      <div id="demo-event-color">
          <div class="crud-color-row">
              <div class="crud-color-c" data-value="#ffeb3c">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ffeb3c"></div>
              </div>
              <div class="crud-color-c" data-value="#ff9900">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ff9900"></div>
              </div>
              <div class="crud-color-c" data-value="#f44437">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#f44437"></div>
              </div>
              <div class="crud-color-c" data-value="#ea1e63">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ea1e63"></div>
              </div>
              <div class="crud-color-c" data-value="#9c26b0">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#9c26b0"></div>
              </div>
          </div>
          <div class="crud-color-row">
              <div class="crud-color-c" data-value="#3f51b5">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#3f51b5"></div>
              </div>
              <div class="crud-color-c" data-value="">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"></div>
              </div>
              <div class="crud-color-c" data-value="#009788">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#009788"></div>
              </div>
              <div class="crud-color-c" data-value="#4baf4f">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#4baf4f"></div>
              </div>
              <div class="crud-color-c" data-value="#7e5d4e">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#7e5d4e"></div>
              </div>
          </div>
      </div>
      </div>
      <!-- /Calendar & Modal -->
    </div>
  </div>
</div>
<script>
mobiscroll.setOptions({
  theme: 'ios',
  themeVariant: 'light'
});
var reservationData = {{ reservation_data|safe }};
var resourceData = {{ resource_data|safe }};
var popup;
var oldEvent;
var tempEvent = {};
var deleteEvent;
var deleteButton = document.getElementById('event-delete');
function createEditPopup(args,resourceId) {
  deleteButton.style.display = 'block';
  
  deleteEvent = false;
  restoreEvent = true;

  var ev = args.event;

  popup.setOptions({
    headerText: 'مشخصات رزرو',
    buttons: [
      'cancel',
      {
        text: 'ویرایش',
        keyCode: 'enter',
        handler: function () {
        popup.close();
        },
        cssClass: 'mbsc-popup-button-primary',
      },
    ],
    anchor: args.domEvent.currentTarget, // تنظیم موقعیت پاپ‌آپ بر اساس مختصات ایونت
    position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' } // حذف محدودیت موقعیت
  });

  // فراخوانی ایجکس برای دریافت اطلاعات رزرو از سمت سرور
  $.ajax({
    url: 'account/get_reservation_info/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
    method: 'GET',
    data: { reservation_id: ev.reserve_id }, // ارسال شناسه رزرو به سمت سرور
    success: function (data) {
      fillPopupWithData(data);
      popup.open();
    },
    error: function () {
      alert('خطا در دریافت اطلاعات رزرو');
    }
  });
}

function createAddPopup(elm,resourceId) {

deleteButton.style.display = 'none';

deleteEvent = true;
restoreEvent = false;

$('#event-title').val('');
$('#event-status').val('');
$('#event-user').val('');
$('#event-buffer').val('');
$('#start-input').val('');
$('#end-input').val('');
popup.open();
  popup.setOptions({
      headerText: 'افزودن رزرو',
      buttons: [
          'cancel',
          {
              text: 'ذخیره',
              keyCode: 'enter',
              handler: function () {
                deleteEvent = false;
                  // ارسال درخواست AJAX برای اضافه کردن رزرو
                  $.ajax({
                      url: 'account/add_reservation/',
                      method: 'POST',
                      data: {
                          csrfmiddlewaretoken: '{{ csrf_token }}',
                          title: $('#event-title').val(),
                          start: $('#start-input').val(),
                          end: $('#end-input').val(),
                          resourceId: resourceId // اضافه کردن شناسه منبع به داده‌های ارسالی

                      },
                      success: function(response) {
                          if (response.success) {
                              // رزرو با موفقیت اضافه شد، می‌توانید هر عملیاتی که نیاز دارید را انجام دهید
                              alert('رزرو با موفقیت اضافه شد!');
                              // به روز رسانی کلندر یا هر عملیات دیگر
                              calendar.refresh();
                          } else {
                              alert('خطا در اضافه کردن رزرو!');
                          }
                      },
                      error: function() {
                          alert('خطا در ارسال درخواست!');
                      }
                  });
                  popup.close();
              },
              cssClass: 'mbsc-popup-button-primary',
          },
      ],
      anchor: elm,
      position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' },

  });
}

function fillPopupWithData(data) {
  // مثال: تنظیم عنوان و متن رزرو در پاپ آپ
  $('#event-title').val(data.title);
  $('#event-status').val(data.status);
  $('#event-buffer').val(data.bufferAfter);
  console.log(data.user)
  $('#event-user').val(data.user);
  $('#start-input').val(data.start);
  $('#end-input').val(data.end);
  // می‌توانید دیگر اطلاعات مربوط به رزرو را هم در اینجا پر کنید
}
var formatDate = mobiscroll.formatDate;
var startDate;
var endDate;
var end;
var myCalendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
  locale: mobiscroll.localeFa,
  clickToCreate: 'double',
  dragToCreate: true,
  dragToMove: true,
  dragToResize: true,
  rtl: true,
  view: {
    timeline: {
      type: 'year', 
      size: 60,
      eventList: true,     
      },
  },
  data: reservationData,
  resources: resourceData,
  colors: [
    {
      background: '#F5F8F2',
      slot: 1,
      recurring: {
        repeat: 'weekly',
        weekDays: 'FR',
      },
    },
  ],
//   invalid: [
//   {
//     // Date objects
//     allDay: true,
//     start: new Date(2021, 2, 7),
//     end: new Date(2024, 3, 9),
//     title: 'عدم نمایش',
//   },  
// ],
  // renderScheduleEvent: function (data) {
  //   var ev = data.original;
  //   var color = data.color;

  //   return (
  //     '<div class="md-timeline-template-event" style="border-color:' +
  //     color +
  //     ';background:' +
  //     color +
  //     '">' +
  //     '<div class="md-timeline-template-event-cont">' +
  //     '<span class="mbsc-icon mbsc-font-icon mbsc-icon-' +
  //     ev.taskType +
  //     '" style="background:' +
  //     color +
  //     '"></span>' +
  //     '<span class="md-timeline-template-time" style="color:' +
  //     color +
  //     ';">' +
  //     data.start +
  //     '</span>' +
  //     '<span class="md-timeline-template-title">' +
  //     ev.title +
  //     '</span></div></div>'
  //   );
  // },
  // renderBufferAfter: function (args) {
  //   var event = args.original;
  //   var color = event.color;

  //   return (
  //     '<div class="md-buffer md-after-buffer" style="background: ' +
  //     color +
  //     '">Inspection' +
  //     '<span class="md-buffer-time">' +
  //     event.bufferAfter +
  //     ' min</span>' +
  //     '<div class="md-buffer-tail" style="background: ' +
  //     color +
  //     '"></div></div>'
  //   );
  // },
  // renderBufferBefore: function (args) {
  //   var event = args.original;
  //   var color = event.color;

  //   return (
  //     '<div class="md-buffer md-before-buffer" style="background: ' +
  //     color +
  //     '">Prep' +
  //     '<span class="md-buffer-time">' +
  //     event.bufferBefore +
  //     ' min</span>' +
  //     '<div class="md-buffer-tail" style="background: ' +
  //     color +
  //     '"></div></div>'
  //   );
  // },
  renderHeader: function () {
    return (
      '<div id="custom-date-range"><button mbsc-button data-variant="flat" class="mbsc-calendar-button">' +
      '<span id="custom-date-range-text" class="mbsc-calendar-title-rtl">Button' +
      '</span></button></div>' +
      '<div class="md-custom-range-view-controls">' +
      '<div mbsc-calendar-today></div>' +
      '</div>'
    );
  },
  onPageLoaded: function (args) {
    startDate = args.firstDay;
    end = args.lastDay;
    endDate = new Date(end.getFullYear(), end.getMonth(), end.getDate() - 1, 0);
    // set button text
    // rangeButton.innerText = getFormattedRange(startDate, endDate);
    rangeButton.innerText = 'انتخاب تاریخ ورود و خروج';
    // set range value
    myRange.setVal([startDate, endDate]);
  },
  onEventClick: function (args) {
    tempEvent = args.event;    
    if (!popup.isVisible()) {
      createEditPopup(args);
    }
  },
  onEventCreated: function (args) {
    var resourceId = args.event.resourceId;
    popup.close();
    tempEvent = args.event;
    createAddPopup(args.target, resourceId);
  },

});

popup = mobiscroll.popup('#demo-add-popup', {
  display: 'bottom',
  contentPadding: false,
  fullScreen: true,
  onClose: function () {
      if (deleteEvent) {
        calendar.removeEvent(tempEvent);
      } else if (restoreEvent) {
        calendar.updateEvent(oldEvent);
      }
    },
  responsive: {
    medium: {
      display: 'anchored',
      width: 400,
      fullScreen: false,
      touchUi: false,
    },
  },
});

deleteButton.addEventListener('click', function () {
  var deletedEvent = tempEvent;
  calendar.removeEvent(tempEvent);
  $.ajax({
    url: 'account/remove_reservation/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
    method: 'POST',
    data: { 
      csrfmiddlewaretoken: '{{ csrf_token }}',
      reservation_id: tempEvent.reserve_id 
    }, // ارسال شناسه رزرو به سمت سرور
    success: function (data) {
      popup.close();
      
    },
    error: function () {
      alert('خطا در دریافت اطلاعات رزرو');
    }
  });
});

var myRange = mobiscroll.datepicker('#custom-date-range', {
  select: 'range',
  display: 'anchored',
  showOverlay: false,
  locale: mobiscroll.localeFa,
  touchUi: true,
  rtl: true,
  buttons: [],
  onClose: function (args, inst) {
    var date = inst.getVal();
    if (date[0] && date[1]) {
      if (date[0].getTime() !== startDate.getTime()) {
        // navigate the calendar
        myCalendar.navigate(date[0]);
      }
      startDate = date[0];
      endDate = date[1];
      // set calendar view
      myCalendar.setOptions({
        refDate: startDate,
        view: {
          timeline: {
            type: 'day',
            size: getNrDays(startDate, endDate),
            eventList: true,
          },
        },
      });
    } else {
      myRange.setVal([startDate, endDate]);
    }
  },
});

var rangeButton = document.getElementById('custom-date-range-text');

// returns the formatted date
function getFormattedRange(start, end) {
  return (
    formatDate('MMM D, YYYY', new Date(start)) +
    (end && getNrDays(start, end) > 1 ? ' - ' + formatDate('MMM D, YYYY', new Date(end)) : '')
  );
}

// returns the number of days between two dates
function getNrDays(start, end) {
  return Math.round(Math.abs((end.setHours(0) - start.setHours(0)) / (24 * 60 * 60 * 1000))) + 1;
}

</script>

<!-- / Content -->

{% endblock %}


{% block vondors-js %}
<script src="{% static 'vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
{% endblock %}

{% block page-js %}
<script src="{% static 'js/app-calendar-events.js' %}"></script>
<script src="{% static 'js/app-calendar.js' %}"></script>
{% endblock %}
