{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
<link href="{% static 'css/mobiscroll.javascript.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/mobiscroll.javascript.min.js' %}"></script>
{% endblock %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-calendar.css' %}" />

<style>
.room1{
 border-bottom: 4px solid #003C43 !important;
 min-height: 52px !important;
}
.room1.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room2{
 border-bottom: 4px solid #135D66 !important;
 min-height: 52px !important;
}
.room2.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room3{
 border-bottom: 4px solid #77B0AA !important;
 min-height: 52px !important;
}
.room3.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room4{
 border-bottom: 4px solid #58A399 !important;
 min-height: 52px !important;
}
.room4.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room5{
 border-bottom: 4px solid #ADBC9F !important;
 min-height: 52px !important;
}
.room5.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room6{
 border-bottom: 4px solid #A8CD9F !important;
 min-height: 52px !important;
}
.room6.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room7{
 border-bottom: 4px solid #C6EBC5 !important;
 min-height: 52px !important;
}
.room7.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room8{
 border-bottom: 4px solid #F9E897 !important;
 min-height: 52px !important;
}
.room8.mbsc-timeline-resource {
  background: rgba(246, 231, 203, 0.7);
}
.room9{
 border-bottom: 4px solid #F2C18D !important;
 min-height: 52px !important;
}
.room9.mbsc-timeline-resource {
  background: rgba(246, 231, 203, 0.7);
}
.room10{
 border-bottom: 4px solid #A3333D !important;
 min-height: 52px !important;
}
.room10.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room11{
 border-bottom: 4px solid #e3c3c6 !important;
 min-height: 52px !important;
}
.room11.mbsc-timeline-resource {
  background:  rgba(246, 231, 203, 0.7);
}
.room12{
  border-bottom: 4px solid #590531 !important;
  min-height: 52px !important;
}
.room12.mbsc-timeline-resource {
  background: rgba(246, 231, 203, 0.7);
}
.mbsc-timeline-header .mbsc-flex .mbsc-ios .mbsc-rtl{
  background: rgba(246, 231, 203, 0.7) !important;
  font-weight: bold;
  
}
.mbsc-timeline-resource-col, .mbsc-timeline-sidebar-col{
 width: 80px;
}
.container-xxl .flex-grow-1 .container-p-y{
 padding-right:0px;
}
.mbsc-timeline-column, .mbsc-timeline-header-column{
 width: 48px;
}
.mbsc-timeline-event-background{
  height: 36px !important;
}
.mbsc-timeline-resource-title{
  font-size: 1em;
  text-align: center;
}
.mbsc-timeline-day-border{
  border-left: 3px solid rgb(198, 192, 192) !important; 
}
.md-lunch-break-class.mbsc-schedule-invalid {
    text-align: center;
    align-items: center;
    font-weight: bold;
    /* background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 6px, #e5e5e5 11px, #e5e5e5 22px); */
    background-color: #780a0a !important;
}
.mbsc-button-mycalendar{
  background-color: #ddeeff !important;
  border-radius: 15px;
  font-weight: bold;
} 
</style>
{% endblock %}

{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card app-calendar-wrapper">
    <div class="row g-0">
      <!-- Calendar & Modal -->
      <div id="demo-add-delete-event" class="md-date-header-template"></div>
      <div style="display: none">
      <div id="demo-add-popup">
          <div class="mbsc-form-group" style="margin: 20px;">
            <label for="event-title" >نام:</label>
            <input type="text" class="form-control input" id="event-title" name="event-title" required>
            <label for="event-user">شماره تلفن:</label>
            <input type="tel" class="form-control input" id="event-user" name="event-user" required>
            <label for="event-status">وضعیت:</label>
            <select class="form-control" id="event-status" name="event-status" required>
              <option value="pending_payment">در انتظار پرداخت</option>
              <option value="confirmed">تایید شده</option>
              <option value="canceled">کنسل شده</option>
              <option value="expired">منقضی شده</option>
            </select><br>
            <label for="event-buffer">نظافت:</label>
            <input type="checkbox"  id="event-buffer" name="event-buffer">
          </div>
          <div class="mbsc-form-group">
              <div mbsc-page class="demo-range-select">
                <div style="height:100%">
                        <div id="demo-range-selection"></div>
                </div>
            </div>
              <div class="mbsc-button-group">
                <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger" data-variant="outline">حذف رزرو</button>
                <button class="mbsc-button-block" id="event-reminder" mbsc-button data-color="submit" data-variant="outline">ارسال پیامک یادآوری</button>
            </div>
          </div>
      </div> 
      </div>
      <!-- /Calendar & Modal -->
    </div>
  </div>
</div>
<!-- / Content -->

<script>
  mobiscroll.setOptions({
    locale: mobiscroll.localeFa,
    theme: 'ios',                 // Specify theme like: theme: 'ios' or omit setting to use default
    themeVariant: 'light'         // More info about themeVariant: https://mobiscroll.com/docs/javascript/datepicker/api#opt-themeVariant
  });
  var reservationData = {{ reservation_data|safe }};
  console.log(reservationData)
  var resourceData = {{ resource_data|safe }};
  var popup;
  var oldEvent;
  var tempEvent = {};
  var deleteEvent;
  var startcalendar = '2024-04-20';
  var endcalendar = '2025-04-20';
  var deleteButton = document.getElementById('event-delete');
  var addremindersmsButton = document.getElementById('event-reminder');

  datepickerreserve = mobiscroll.datepicker('#demo-range-selection', {
    controls: ['calendar'],
    display: 'inline',            // Specify display mode like: display: 'bottom' or omit setting to use default
    rangeSelectMode: 'wizard',
    select: 'range',              // More info about select: https://mobiscroll.com/docs/javascript/datepicker/api#opt-select
    showRangeLabels: true
  });
  
  function createAddPopup(elm,resourceId) {
    deleteButton.style.display = 'none';

    deleteEvent = true;
    restoreEvent = false;

    $('#event-title').val('');
    $('#event-status').val('');
    $('#event-user').val('');
    $('#event-buffer').val('');
    $('#start-input').val('');
    $('#end-input').val('');

    popup.open();
      popup.setOptions({
          headerText: 'افزودن رزرو',
          buttons: [
              'cancel',
              {
                  text: 'ذخیره',
                  keyCode: 'enter',
                  handler: function () {
                    reservtime = datepickerreserve.getVal();
                    startreserve = reservtime[0];
                    endreserve = reservtime[1];
                    deleteEvent = false;
                      // ارسال درخواست AJAX برای اضافه کردن رزرو
                      $.ajax({
                          url: 'account/add_reservation/',
                          method: 'POST',
                          data: {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              title: $('#event-title').val(),
                              start: startreserve,
                              end: endreserve,
                              resourceId: resourceId, // اضافه کردن شناسه منبع به داده‌های ارسالی
                              status: $('#event-status').val(),
                              user: $('#event-user').val(),
                          },
                          success: function(response) {
                              if (response.success) {
                                  // رزرو با موفقیت اضافه شد، می‌توانید هر عملیاتی که نیاز دارید را انجام دهید
                                  // به روز رسانی کلندر یا هر عملیات دیگر
                                  myCalendar.refresh();
                                  alert('رزرو با موفقیت اضافه شد!');
                              } else {
                                  alert('خطا در اضافه کردن رزرو!');
                              }
                          },
                          error: function() {
                              alert('خطا در ارسال درخواست!');
                          }
                      });
                      popup.close();
                  },
                  cssClass: 'mbsc-popup-button-primary',
              },
          ],
          anchor: elm,
          position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' },

      });
    }

  function createEditPopup(args,resourceId) {
    var ev = args.event;
    tempEvent = args.event;

    deleteButton.style.display = 'block';
    
    deleteEvent = false;
    restoreEvent = true;

    popup.setOptions({
      headerText: 'مشخصات رزرو',
      buttons: [
        'cancel',
        {
          text: 'ویرایش',
          keyCode: 'enter',
          handler: function () {
          popup.close();
          },
          cssClass: 'mbsc-popup-button-primary',
        },
      ],
      anchor: args.domEvent.currentTarget, // تنظیم موقعیت پاپ‌آپ بر اساس مختصات ایونت
      position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' } // حذف محدودیت موقعیت
    });

    // فراخوانی ایجکس برای دریافت اطلاعات رزرو از سمت سرور
    $.ajax({
      url: 'account/get_reservation_info/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
      method: 'GET',
      data: { reservation_id: ev.reserve_id }, // ارسال شناسه رزرو به سمت سرور
      success: function (data) {
        fillPopupWithData(data);
        popup.open();
      },
      error: function () {
        alert('خطا در دریافت اطلاعات رزرو');
      }
    });
  }
  
  function fillPopupWithData(data) {
    // مثال: تنظیم عنوان و متن رزرو در پاپ آپ
    $('#event-title').val(data.title);
    $('#event-status').val(data.status);
    $('#event-buffer').val(data.bufferAfter);
    if (data.bufferAfter)
      {
          $( "#event-buffer").prop('checked', true);
      }
      else
      {
          $( "#event-buffer").prop('checked', false);
      }
    $('#event-user').val(data.user);
    $('#start-input').val(data.start);
    $('#end-input').val(data.end);

    firstday = data.start;
    lastday = data.end;
    datepickerreserve.setVal([firstday, lastday]);
  }
  var formatDate = mobiscroll.formatDate;
  var startDate;
  var endDate;
  var end;
  var myCalendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
    clickToCreate: 'double',
    dragToCreate: true,
    dragToMove: false,
    dragToResize: false,
    rtl: true,
    view: {
      timeline: {
        type: 'year', 
        size: 30,
        },
    },
    data: reservationData,
    resources: resourceData,
    // colors: [
    //   {
    //     background: '#F5F8F2',
    //     slot: 1,
    //     recurring: {
    //       repeat: 'weekly',
    //       weekDays: 'SA',
    //     },
    //   },
    // ],
    renderHeader: function () {
      return (
        '<div class="m-1 p-1 mbsc-button-mycalendar md-custom-range-view-controls">' +
        '<div mbsc-calendar-today></div>' +
        '</div>'+
        '<div id="custom-date-range"><button mbsc-button data-variant="flat" class="m-1 p-1 mbsc-button-mycalendar mbsc-calendar-button">' +
        '<span id="custom-date-range-text" class="mbsc-calendar-title-rtl">Button' +
        '</span></button></div>'
        );
    },
    onPageLoaded: function (args) {
      startDate = args.firstDay;
      end = args.lastDay;
      endDate = new Date(end.getFullYear(), end.getMonth(), end.getDate() - 1, 0);
      // set button text
      // rangeButton.innerText = getFormattedRange(startDate, endDate);
      rangeButton.innerText = 'انتخاب تاریخ ورود و خروج';
      // set range value
      myRange.setVal([startDate, endDate]);
    },
    onEventClick: function (args) {
      tempEvent = args.event;  
      console.log(tempEvent)  
      if (!popup.isVisible()) {
        createEditPopup(args);
      }
    },
    onEventCreated: function (args) {
      resourceId = args.event.resource;
      popup.close();
      tempEvent = args.event;
      createAddPopup(args.target, resourceId);
    },
    onEventDeleted: function (args) {
      mobiscroll.snackbar({
        button: {
          action: function () {
            myCalendar.addEvent(args.event);
          },
          text: 'Undo',
        },
        message: 'Event deleted',
      });
    },
  });

  popup = mobiscroll.popup('#demo-add-popup', {
    display: 'bottom',
    contentPadding: false,
    fullScreen: true,
    onClose: function () {
        if (deleteEvent) {
          myCalendar.removeEvent(tempEvent);
        } else if (restoreEvent) {
          myCalendar.updateEvent(oldEvent);
        }
      },
    responsive: {
      medium: {
        display: 'anchored',
        width: 400,
        fullScreen: false,
        touchUi: false,
      },
    },
  });

  deleteButton.addEventListener('click', function () {
    var deletedEvent = tempEvent;
    myCalendar.removeEvent(tempEvent);
    $.ajax({
      url: 'account/remove_reservation/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
      method: 'POST',
      data: { 
        csrfmiddlewaretoken: '{{ csrf_token }}',
        reservation_id: tempEvent.reserve_id 
      }, // ارسال شناسه رزرو به سمت سرور
      success: function (data) {
        popup.close();
        
      },
      error: function () {
        alert('خطا در دریافت اطلاعات رزرو');
      }
    });
  });

  var myRange = mobiscroll.datepicker('#custom-date-range', {
    select: 'range',
    display: 'center',
    showOverlay: false,
    locale: mobiscroll.localeFa,
    touchUi: true,
    rtl: true,
    buttons: [],
    onClose: function (args, inst) {
      var date = inst.getVal();
      if (date[0] && date[1]) {
        if (date[0].getTime() !== startDate.getTime()) {
          // navigate the calendar
          var newDate = date[0].getTime() - (5 * 24 * 60 * 60 * 1000);
          var newStartDate = new Date(newDate);

          myCalendar.navigate(newStartDate);
        }
        startDate = date[0];
        endDate = date[1];
        // set calendar view
        myCalendar.setOptions({
          refDate: startDate,
          view: {
            timeline: {
              type: 'year',
              size: 31,
              eventList: false,
            },
          },
          invalid: [{
              // Date objects
              allDay: true,
              start: '2024-03-10T00:00',
              end: date[0],
              title: 'عدم نمایش',
              cssClass: 'md-lunch-break-class mbsc-flex',
            },
            {
              allDay: true,
              start: endDate,
              end: '2025-03-10T00:00',
              title: 'عدم نمایش',
              cssClass: 'md-lunch-break-class mbsc-flex',
            },  
          ],
        });
      } else {
        myRange.setVal([startDate, endDate]);
      }
    },
  });

  var rangeButton = document.getElementById('custom-date-range-text');

  // returns the formatted date
  function getFormattedRange(start, end) {
    return (
      formatDate('MMM D, YYYY', new Date(start)) +
      (end && getNrDays(start, end) > 1 ? ' - ' + formatDate('MMM D, YYYY', new Date(end)) : '')
    );
  }

  // returns the number of days between two dates
  function getNrDays(start, end) {
    return Math.round(Math.abs((end.setHours(0) - start.setHours(0)) / (24 * 60 * 60 * 1000))) + 1;
  }

  addremindersmsButton.addEventListener('click', function () {
    console.log(tempEvent);
    $.ajax({
      url: 'account/addـreminderـsms/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
      method: 'POST',
      data: { 
        csrfmiddlewaretoken: '{{ csrf_token }}',
        reservation_id: tempEvent.reserve_id 
      }, // ارسال شناسه رزرو به سمت سرور
      success: function (data) {
        popup.close();
      },
      error: function () {
        alert('خطا در دریافت اطلاعات رزرو');
      }
    });
  });


</script>

{% endblock %}


{% block vondors-js %}
<script src="{% static 'vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
{% endblock %}

{% block page-js %}
<script src="{% static 'js/app-calendar-events.js' %}"></script>
<script src="{% static 'js/app-calendar.js' %}"></script>
{% endblock %}
