{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
<link href="{% static 'css/mobiscroll.javascript.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/mobiscroll.javascript.min.js' %}"></script>
{% endblock %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-calendar.css' %}" />
{% endblock %}

{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">


  <div class="card app-calendar-wrapper">
    <div class="row g-0">
      <!-- Calendar Sidebar -->
      <div class="col app-calendar-sidebar border-end" id="app-calendar-sidebar">
        <div class="p-3 pb-2 my-sm-0 mb-3">
          <div class="d-grid">
            <button class="btn btn-primary btn-toggle-sidebar" data-bs-toggle="offcanvas"
              data-bs-target="#addEventSidebar" aria-controls="addEventSidebar">
              <i class="mdi mdi-plus me-1"></i>
              <span class="align-middle">افزودن رزرو</span>
            </button>
          </div>
        </div>
        
      </div>
      <!-- /Calendar Sidebar -->
      <!-- Calendar & Modal -->
      <div id="demo-add-delete-event"></div>

      <div style="display: none">
      <div id="demo-add-popup">
          <div class="mbsc-form-group">
              <label>
                  عنوان
                  <input mbsc-input id="event-title">
              </label>
              <label>
                  توضیحات
                  <textarea mbsc-textarea id="event-desc"></textarea>
              </label>
          </div>
          <div class="mbsc-form-group">

              <label>
                  زمان شروع
                  <input mbsc-input id="start-input" />
              </label>
              <label>
                  زمان پایان
                  <input mbsc-input id="end-input" />
              </label>

              <div class="mbsc-button-group">
                  <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
              </div>
          </div>
      </div>
      
      <div id="demo-event-color">
          <div class="crud-color-row">
              <div class="crud-color-c" data-value="#ffeb3c">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ffeb3c"></div>
              </div>
              <div class="crud-color-c" data-value="#ff9900">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ff9900"></div>
              </div>
              <div class="crud-color-c" data-value="#f44437">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#f44437"></div>
              </div>
              <div class="crud-color-c" data-value="#ea1e63">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#ea1e63"></div>
              </div>
              <div class="crud-color-c" data-value="#9c26b0">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#9c26b0"></div>
              </div>
          </div>
          <div class="crud-color-row">
              <div class="crud-color-c" data-value="#3f51b5">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#3f51b5"></div>
              </div>
              <div class="crud-color-c" data-value="">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check"></div>
              </div>
              <div class="crud-color-c" data-value="#009788">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#009788"></div>
              </div>
              <div class="crud-color-c" data-value="#4baf4f">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#4baf4f"></div>
              </div>
              <div class="crud-color-c" data-value="#7e5d4e">
                  <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" style="background:#7e5d4e"></div>
              </div>
          </div>
      </div>
      </div>
              <div class="col app-calendar-content">
        <div class="card shadow-none border-0 ">
          <div class="card-body pb-0">
            <!-- FullCalendar -->
            <!-- <div id="calendar"></div> -->
          </div>
        </div>
        <div class="app-overlay"></div>
        <!-- FullCalendar Offcanvas -->
        <div class="offcanvas offcanvas-end event-sidebar" tabindex="-1" id="addEventSidebar"
          aria-labelledby="addEventSidebarLabel">
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="addEventSidebarLabel">افزودن رزرو</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <form method="POST" class="event-form pt-0" id="eventForm" onsubmit="convertDates()">
              {% csrf_token %}
              <!-- <div class="form-floating form-floating-outline mb-4">
                <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Event Title" />
                <label for="eventTitle">Title</label>
              </div> -->
              <!-- <div class="form-floating form-floating-outline mb-4">
                <select class="select2 select-event-label form-select" id="eventLabel" name="eventLabel">
                  <option data-label="primary" value="Business" selected>Business</option>
                  <option data-label="danger" value="Personal">Personal</option>
                  <option data-label="warning" value="Family">Family</option>
                  <option data-label="success" value="Holiday">Holiday</option>
                  <option data-label="info" value="ETC">ETC</option>
                </select>
                <label for="eventLabel">Label</label>
              </div> -->
              <div class="form-floating form-floating-outline mb-4">
                <input type="text" class="form-control" id="id_start_first" name="id_start_first"
                  placeholder="تاریخ ورود" />
                <label for="id_start_first">تاریخ ورود</label>
              </div>
              <div class="form-floating form-floating-outline mb-4">
                <input type="text" class="form-control" id="id_end_first" name="id_end_first" placeholder="تاریخ خروج" />
                <label for="id_end_first">تاریخ خروج</label>
                
                {{ form }}
              </div>
         
              <!-- <div class="form-floating form-floating-outline mb-4 select2-primary">
                <select class="select2 select-event-guests form-select" id="eventGuests" name="eventGuests" multiple>
                  <option data-avatar="1.png" value="Jane Foster">Jane Foster</option>
                  <option data-avatar="3.png" value="Donna Frank">Donna Frank</option>
                  <option data-avatar="5.png" value="Gabrielle Robertson">Gabrielle Robertson</option>
                  <option data-avatar="7.png" value="Lori Spears">Lori Spears</option>
                  <option data-avatar="9.png" value="Sandy Vega">Sandy Vega</option>
                  <option data-avatar="11.png" value="Cheryl May">Cheryl May</option>
                </select>
                <label for="eventGuests">Add Guests</label>
              </div>
              <div class="form-floating form-floating-outline mb-4">
                <input type="text" class="form-control" id="eventLocation" name="eventLocation"
                  placeholder="Enter Location" />
                <label for="eventLocation">Location</label>
              </div>
              <div class="form-floating form-floating-outline mb-4">
                <textarea class="form-control" name="eventDescription" id="eventDescription"></textarea>
                <label for="eventDescription">Description</label>
              </div>
              <div class="mb-3 d-flex justify-content-sm-between justify-content-start my-4 gap-2"> -->
                <!-- <div class="d-flex">
                  <button type="reset" class="btn btn-outline-secondary btn-cancel me-sm-0 me-1"
                    data-bs-dismiss="offcanvas">انصراف</button>
                </div> -->
                <button type="submit" class="btn btn-primary btn-add-event me-sm-2 me-1">افزودن رزرو</button>
                <button class="btn btn-outline-danger btn-delete-event d-none">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /Calendar & Modal -->
    </div>
  </div>

</div>
<script>
mobiscroll.setOptions({
  theme: 'ios',
  themeVariant: 'light'
});
var reservationData = {{ reservation_data|safe }};
var resourceData = {{ resource_data|safe }};
var popup;
var oldEvent;
var tempEvent = {};
var deleteEvent;

calendar = mobiscroll.eventcalendar('#demo-add-delete-event', {
  locale: mobiscroll.localeFa,
  clickToCreate: false,
  dragToCreate: false,
  dragToMove: false,
  dragToResize: false,
  dragToResize: false,
  view: {
    timeline: { type: 'year' },
  },
  data: reservationData,
  resources: resourceData,
  onEventClick: function (args) {
    tempEvent = args.event;    
    if (!popup.isVisible()) {
      createEditPopup(args);
    }
  },
  onEventCreated: function (args) {
    var resourceId = args.event.resourceId;
    console.log(event)
    popup.close();
    tempEvent = args.event;
    createAddPopup(args.target, resourceId);
  },
});

// function createAddPopup(elm,resourceId) {
//   $('#event-title').val('');
//   $('#start-input').val('');
//   $('#end-input').val('');
//   popup.open();
//     popup.setOptions({
//         headerText: 'افزودن رزرو',
//         buttons: [
//             'cancel',
//             {
//                 text: 'ذخیره',
//                 keyCode: 'enter',
//                 handler: function () {
//                     // ارسال درخواست AJAX برای اضافه کردن رزرو
//                     $.ajax({
//                         url: 'account/add_reservation/',
//                         method: 'POST',
//                         data: {
//                             csrfmiddlewaretoken: '{{ csrf_token }}',
//                             title: $('#event-title').val(),
//                             start: $('#start-input').val(),
//                             end: $('#end-input').val(),
//                             resourceId: resourceId // اضافه کردن شناسه منبع به داده‌های ارسالی

//                         },
//                         success: function(response) {
//                             if (response.success) {
//                                 // رزرو با موفقیت اضافه شد، می‌توانید هر عملیاتی که نیاز دارید را انجام دهید
//                                 alert('رزرو با موفقیت اضافه شد!');
//                                 // به روز رسانی کلندر یا هر عملیات دیگر
//                                 calendar.refresh();
//                             } else {
//                                 alert('خطا در اضافه کردن رزرو!');
//                             }
//                         },
//                         error: function() {
//                             alert('خطا در ارسال درخواست!');
//                         }
//                     });
//                     popup.close();
//                 },
//                 cssClass: 'mbsc-popup-button-primary',
//             },
//         ],
//         anchor: elm,
//         position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' },
//         onClose: function () {
//             // حذف ایونت موقتی از کلندر
//             if (tempEvent) {
//                 calendar.removeEvent(tempEvent.id);
//             }
//         }
//     });

//     // فراخوانی متد open برای نمایش پاپ‌آپ
//     popup.open();
// }

function createEditPopup(args,resourceId) {
  var ev = args.event;
  popup.setOptions({
    headerText: 'ویرایش رزرو',
    buttons: [
      'cancel',
      {
        text: 'ویرایش',
        keyCode: 'enter',
        handler: function () {
          popup.close();
        },
        cssClass: 'mbsc-popup-button-primary',
      },
    ],
    anchor: args.domEvent.currentTarget, // تنظیم موقعیت پاپ‌آپ بر اساس مختصات ایونت
    position: { top: 'auto', left: 'auto', right: 'auto', bottom: 'auto' } // حذف محدودیت موقعیت
  });
  var eventIdParts = ev.id.split('_'); 
  var eventIdNumber = eventIdParts[eventIdParts.length - 1];
  // فراخوانی ایجکس برای دریافت اطلاعات رزرو از سمت سرور
  $.ajax({
    url: 'account/get_reservation_info/', // آدرس مورد نظر برای دریافت اطلاعات رزرو
    method: 'GET',
    data: { reservation_id: eventIdNumber }, // ارسال شناسه رزرو به سمت سرور
    success: function (data) {
      // پر کردن پاپ آپ با اطلاعات دریافت شده
      fillPopupWithData(data);
      // نمایش پاپ آپ
      popup.open();
    },
    error: function () {
      alert('خطا در دریافت اطلاعات رزرو');
    }
  });
}

// تابعی برای پر کردن پاپ آپ با اطلاعات دریافت شده از سمت سرور
function fillPopupWithData(data) {
  // مثال: تنظیم عنوان و متن رزرو در پاپ آپ
  $('#event-title').val(data.title);
  $('#start-input').val(data.start);
  $('#end-input').val(data.end);
  // می‌توانید دیگر اطلاعات مربوط به رزرو را هم در اینجا پر کنید
}

popup = mobiscroll.popup('#demo-add-popup', {
  display: 'bottom',
  contentPadding: false,
  fullScreen: true,
  responsive: {
    medium: {
      display: 'anchored',
      width: 400,
      fullScreen: false,
      touchUi: false,
    },
  },
});

mobiscroll.datepicker('#id_start_first', {
    calendarSystem: mobiscroll.jalaliCalendar,
    locale: mobiscroll.localeFa,
    controls: ['date'],
    touchUi: true,
    onClose: function (event, inst) {
        var selectedDate = inst.getVal(); // تاریخ انتخاب شده
        // تبدیل تاریخ شمسی به میلادی
        var gregorianDate = jalaliToGregorian(selectedDate);
        // قرار دادن تاریخ میلادی در فیلد مخفی
        $('#id_start').val(gregorianDate);
    }
});
mobiscroll.datepicker('#id_end_first', {
    calendarSystem: mobiscroll.jalaliCalendar,
    locale: mobiscroll.localeFa,
    controls: ['date'],
    touchUi: true,
    onClose: function (event, inst) {
        var selectedDate = inst.getVal(); // تاریخ انتخاب شده
        // تبدیل تاریخ شمسی به میلادی
        var gregorianDate = jalaliToGregorian(selectedDate);
        // قرار دادن تاریخ میلادی در فیلد مخفی
        $('#id_end').val(gregorianDate);
    }
});
</script>

<!-- / Content -->

{% endblock %}


{% block vondors-js %}
<script src="{% static 'vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
{% endblock %}

{% block page-js %}
<script src="{% static 'js/app-calendar-events.js' %}"></script>
<script src="{% static 'js/app-calendar.js' %}"></script>
{% endblock %}
