{% extends 'account/base-login.html' %}
{% load static %}

{% block contant %}

<!-- Login -->
<div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-4 py-4">
    <div class="w-px-400 mx-auto pt-5 pt-lg-0">
      <h4 class="mb-2 fw-semibold">👋 !خوش آمدید به حسینیه مرحوم مهدیان </h4>
      <p class="mb-4">لطفا برای رزرو وارد حساب خود بشوید</p>

      <form id="formAuthentication" class="mb-3" action="http://theboys.ir/html/vertical-menu-template-bordered/index.html" method="POST">
        <div class="form-floating form-floating-outline mb-3">
          <input type="text" class="form-control" id="email" name="email-username" placeholder="ایمیل یا نام کاربری خود را وارد کنید" autofocus>
          <label for="email">ایمیل یا نام کاربری</label>
        </div>
        <div class="mb-3">
          <div class="form-password-toggle">
            <div class="input-group input-group-merge">
              <div class="form-floating form-floating-outline">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <label for="password">رمز عبور</label>
              </div>
              <span class="input-group-text cursor-pointer"><i class="mdi mdi-eye-off-outline"></i></span>
            </div>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember-me">
            <label class="form-check-label" for="remember-me">
              به خاطر سپاری
            </label>
          </div>
          <a href="auth-forgot-password-cover.html" class="float-end mb-1">
            <span>رمز عبور را فراموش کردید؟</span>
          </a>
        </div>
        <button class="btn btn-primary d-grid w-100">
          ورود
        </button>
      </form>

      <p class="text-center mt-2">
        <span>کاربر جدید هستید؟</span>
        <a href="{% url 'account:register'%}">
          <span>یک حساب بسازید</span>
        </a>
      </p>

    
    </div>
  </div>
  <!-- /Login -->
</div>
</div>

<!-- / Content -->

{% endblock %}
