{% extends 'account/base-login.html' %}
{% load static %}

{% block contant %}
<style>
 #id_username{

 } 
</style>
  <!-- Content -->
  <div class="position-relative" style="background-size:cover; background-image: url('{% static 'img/pages/back-login.jpg'%}')">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- Login -->
        <div class="card p-2 logincard">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5" >
            <a href="{% url 'home' %}" class="app-brand-link gap-2">
              <span class="app-brand-text demo text-heading fw-bold">لوگو تایپ</span>
            </a>
          </div>
          <!-- /Logo -->
          <div class="card-body mt-2">
            <p class="mb-4">لطفا برای رزرو وارد حساب خود شوید</p>
            <form method="POST" class="mb-3">
                {% csrf_token %}
              <div class="form-floating form-floating-outline mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="نام کاربری خود را وارد کنید" autofocus>
                <label for="username">نام کاربری</label>
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <label for="password">رمز عبور</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="mdi mdi-eye-off-outline"></i></span>
                </div>
              </div>
                <div>
                    <p>{{ form.non_field_errors }}</p>
                </div>
              <div class="mb-3 d-flex justify-content-between">
                <a href="auth-forgot-password-cover.html" class="float-end mb-1">
                  <span>رمز عبور را فراموش کردید؟</span>
                </a>
              </div>
              <button type="submit" class="btn btn-primary d-grid w-100">
                ورود
              </button>
            </form>
      
            <p class="text-center mt-2">
              <span>کاربر جدید هستید؟</span>
              <a href="{% url 'account:register'%}">
                <span>یک حساب بسازید</span>
              </a>
            </p>
          </div>
        </div>
        <!-- /Login -->
      </div>
    </div>
  </div>
  
<!-- / Content -->

{% endblock %}
