{% extends 'account/base-login.html' %}
{% load static %}

{% block contant %}
<style>
 #id_username{

 }
</style>
  <div class="position-relative" style="background-size:cover; background-image: url('{% static 'img/pages/back-login.jpg'%}')">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <div class="card p-2 logincard">
          <div class="app-brand justify-content-center mt-5" >
            <a href="{% url 'home' %}" class="app-brand-link gap-2">
              <span class="app-brand-text demo text-heading fw-bold">لوگو تایپ</span>
            </a>
          </div>
          <div class="card-body mt-2">
          {% if validlink %}
              <p class="mb-4">برای تنظیم مجدد رمز عبور، موارد زیر را وارد کنید</p>
              <form method="POST" class="mb-3">
                {% csrf_token %}
              <div class="form-floating form-floating-outline mb-3">
                <input type="password" {% if form.new_password2.errors  %} class="form-control invalid" {% endif %}class="form-control" id="new_password1" name="new_password1" placeholder="رمز عبور جدید" autofocus>
                <label for="new_password1">رمز عبور جدید</label>
              </div>
                {% if form.new_password2.errors %}
                    <div class="error-message">
                        {% for error in form.new_password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
              <div class="form-floating form-floating-outline mb-3">
                <input type="password" {% if form.new_password2.errors  %} class="form-control invalid" {% endif %}class="form-control" id="new_password2" name="new_password2" placeholder="تکرار رمز عبور جدید">
                <label for="new_password2">تکرار رمز عبور جدید</label>
                 {% if form.new_password2.errors %}
                    <div class="error-message">
                        {% for error in form.new_password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %} 
              </div>
              <button type="submit" class="btn btn-primary d-grid w-100">
                تغییر رمز عبور
              </button>
            </form>
          {% else %}
              <h3>لینک تغییر رمز عبور منقضی شده است.</h3>
          {% endif %}
          </div>
        </div>
        </div>
    </div>
  </div>

{% endblock %}
