{% extends 'account/base.html' %}
{% load static %}
{% load jformat %}
{% block vendors-css %}
<!-- Vendors CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
<link
rel="stylesheet"
href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/node-waves/node-waves.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/typeahead-js/typeahead.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/select2/select2.css'%}"/>
<link
rel="stylesheet"
href="{% static 'vendor/libs/formvalidation/dist/css/formValidation.min.css'%}"/>
{% endblock %}

{% block page-css %}
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">

  <!-- Users List Table -->
  <div class="card">
{#    <div class="card-header">#}
{#      <!-- <h5 class="card-title">فیلتر جستجو</h5> -->#}
{#      <div#}
{#        class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">#}
{#        <div class="col-md-4 user_role"></div>#}
{#        <div class="col-md-4 user_plan"></div>#}
{#        <div class="col-md-4 user_status"></div>#}
{#      </div>#}
{#    </div>#}
    <div class="card-datatable table-responsive">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">لیست /</span> کاربر ها
        </h4>
      <table id="UserTable" class="datatables-users table">
        <thead class="table-light">
          <tr>
            <th></th>
            <th></th>
            <th>نام</th>
            <th>نام‌خانوادگی</th>
            <th>نقش کاربر</th>
            <th>شماره موبایل</th>
            <th>کدملی</th>
            <th>تاریخ تولد</th>
            <th>جنسیت</th>
            <th>ویرایش</th>
          </tr>
        </thead>
        <tbody id="table-body">
          {% for u in users %}
          <tr>
            <td></td>
            <td></td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.get_user_status_display}}</td>          
            <td>{{ u.mobile_number }}</td>
            <td>{{ u.national_code }}</td>
            <td>{{ u.birth_date |  jformat:' %Y/%m/%d' }}</td>
            <td>{{ u.get_gender_display }}</td>
            <td><a href="{% url 'account:edit_user' u.id %}">ویرایش</a></td>
          </tr>
          {% endfor %}        
        </tbody>
      </table>
    </div>
    <!-- Offcanvas to add new user -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasAddUser"
      aria-labelledby="offcanvasAddUserLabel"
    >
      <div class="offcanvas-header">
        <h5 id="offcanvasAddUserLabel" class="offcanvas-title">
          افزودن کاربر
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body mx-0 flex-grow-0">
        <form
          class="add-new-user pt-0"
          id="addNewUserForm"
          onsubmit="return false"
        >
          <div class="form-floating form-floating-outline mb-4">
            <input
              type="text"
              class="form-control"
              id="add-user-fullname"
              placeholder="جان اسنو"
              name="userFullname"
              aria-label="جان اسنو"
            />
            <label for="add-user-fullname">نام کامل</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <input
              type="text"
              id="add-user-email"
              class="form-control"
              placeholder="MahdiMH@example.com"
              aria-label="mahdimh@example.com"
              name="userEmail"
            />
            <label for="add-user-email">ایمیل</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <input
              type="text"
              id="add-user-contact"
              class="form-control phone-mask"
              placeholder="09131234567"
              aria-label="mahdimh@example.com"
              name="userContact"
            />
            <label for="add-user-contact">تلفن</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <input
              type="text"
              id="add-user-company"
              class="form-control"
              placeholder="تیک تاک"
              aria-label="jdoe1"
              name="companyName"
            />
            <label for="add-user-company">شرکت</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <select id="country" class="select2 form-select">
              <option value="">انتخاب کنید</option>
              <option value="استرالیا">استرالیا</option>
              <option value="بنگلادش">بنگلادش</option>
              <option value="بلاروس">بلاروس</option>
              <option value="برزیل">برزیل</option>
              <option value="کانادا">کانادا</option>
              <option value="چین">چین</option>
              <option value="فرانسه">فرانسه</option>
              <option value="آلمان">آلمان</option>
              <option value="هند">هند</option>
              <option value="اندونزی">اندونزی</option>
              <option value="ایران">ایران</option>
              <option value="ایتالیا">ایتالیا</option>
              <option value="ژاپن">ژاپن</option>
              <option value="Korea">کره جنوبی</option>
              <option value="مکزیک">مکزیک</option>
              <option value="فیلیپین">فیلیپین</option>
              <option value="Russia">روسیه</option>
              <option value="آفریقای جنوبی">آفریقای جنوبی</option>
              <option value="تایلند">تایلند</option>
              <option value="ترکیه">ترکیه</option>
              <option value="اوکراین">اوکراین</option>
              <option value="امارات">
                امارات
              </option>
              <option value="انگلستان">انگلستان</option>
              <option value="ایالات متحده">ایالات متحده</option>
            </select>
            <label for="country">کشور</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <select id="user-role" class="form-select">
              <option value="subscriber">دنبال کننده</option>
              <option value="editor">ویرایشگر</option>
              <option value="maintainer">نگهدارنده</option>
              <option value="Author">نویسنده</option>
              <option value="admin">ادمین</option>
            </select>
            <label for="user-role">نقش کابربر</label>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <select id="user-plan" class="form-select">
              <option value="basic">ساده</option>
              <option value="enterprise">سازمانی</option>
              <option value="company">شرکتی</option>
              <option value="team">تیمی</option>
            </select>
            <label for="user-plan">انتخاب پلن</label>
          </div>
          <button
            type="submit"
            class="btn btn-primary me-sm-3 me-1 data-submit"
          >
            ثبت
          </button>
          <button
            type="reset"
            class="btn btn-label-secondary"
            data-bs-dismiss="offcanvas"
          >
            انصراف
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block vondors-js %}
<script src="{% static 'vendor/libs/moment/moment.js'%}"></script>
    <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js'%}"></script>
    <script src="{% static 'vendor/libs/select2/select2.js'%}"></script>
    <script src="{% static 'vendor/libs/formvalidation/dist/js/FormValidation.min.js'%}"></script>
    <script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js'%}"></script>
    <script src="{% static 'vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js'%}"></script>
    <script src="{% static 'vendor/libs/cleavejs/cleave.js'%}"></script>
    <script src="{% static 'vendor/libs/cleavejs/cleave-phone.js'%}"></script>
{% endblock %}

{% block page-js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.4/i18n/fa.json"></script>
<script>
    $(document).ready( function () {
        var user_table = $('#UserTable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/fa.json'
            }
        });
    });
</script>
<!-- <script src="{% static 'js/app-user-list.js'%}"></script> -->
{% endblock %}