{% extends 'account/base.html' %}
{% load static %}

{% block vendors-css %}
{% endblock %}

{% block page-css %}
<link
      rel="stylesheet"
      href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/node-waves/node-waves.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}"
    />

{% endblock %}

{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">لیست /</span> رزروها
  </h4>

  <!-- Invoice List Table -->
  <div class="card">
    <div class="card-datatable table-responsive">
      <table class="datatables-users table">
        <thead class="table-light">
          <tr>
            <th></th>
            <th></th>
            <th>نام</th>
            <th>ایدی</th>
            <th>شروع</th>
            <th>پایان</th>
            <th>کاربر</th>
            <th>ایجاد کننده</th>
            <th>اتاق</th>
            <th>وضعیت</th>
            <th>ویرایش</th>
          </tr>
        </thead>
        <tbody id="table-body">
          {% for r in reserve %}
          <tr>
            <td></td>
            <td></td>
            <td>{{ r.title }}</td>
            <td>{{ r.reserve_id }}</td>
            <td>{{ r.start }}</td>
            <td>{{ r.end }}</td>          
            <td>{{ r.user }}</td>
            <td>{{ r.author }}</td>
            <td>{{ r.resource }}</td>
            <td>{{ r.status }}</td>
            <td><a href="">ویرایش</a></td>
          </tr>
          {% endfor %}        
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block vondors-js %}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<!-- <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script> -->
{% endblock %}

{% block page-js %}
<!-- <script src="{% static 'js/app-invoice-list.js' %}"></script> -->

{% endblock %}