{% extends 'account/base.html' %}
{% load static %}
{% block vendors-css %}
<!-- Vendors CSS -->
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<!-- Page CSS -->
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-invoice.css' %}" />
{% endblock %}
{% block contant %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" len="13520">
  <div class="row invoice-preview" len="8865">
    <!-- Invoice -->
    <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4" len="7514">
      <div class="card invoice-preview-card" len="7461">
        <div class="card-body" len="3428">
          <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column" len="3311">
            <div class="row">
                <h5 len="14" lang="fa" style="">شماره فاکتور : {{ reservation.reserve_id }}</h5>
            </div>
            <div len="293">
              <div class="mb-1" len="95">
                <font lang="fa"><span len="12">تاریخ انتشار:</span> <span len="14">{{reservation.get_created_at_shamsi}}</span></font>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" len="0">
        <div class="card-body" len="1326">
          <div class="d-flex justify-content-between flex-wrap" len="1250">
              <p class="pb-2" len="11" lang="fa">اجاره واحد {{reservation.resource}}</p>
              <p class="pb-2" len="13" lang="fa">نام :‌{{reservation.user.username}}</p>
              <p class="pb-2" len="22" lang="fa">نام خانوادگی :{{reservation.user.lastname}}</p>
              <p class="pb-2" len="24" lang="fa">شماره موبایل :{{reservation.user.mobile_number}}</p>
          </div>
        </div>
        <div class="table-responsive" len="2219">
          <table class="table m-0" len="2170">
            <thead class="table-light border-top" len="193">
              <tr len="160">
                <th class="text-center" lang="fa">واحد</th>
                <th class="text-center" lang="fa">تاریخ ورود</th>
                <th class="text-center" lang="fa">تاریخ خروج</th>
                <th class="text-center" lang="fa">نظافت</th>
                <th class="text-center" lang="fa">ظرفیت بیشتر</th>
                <th class="text-center" lang="fa">وضعیت پرداخت</th>
                <th class="text-center" lang="fa">مبلغ نهایی</th>
              </tr>
            </thead>
            <tbody len="1885">
              <tr len="222">
                <td class="text-center" lang="fa">{{reservation.resource}}</td>
                <td class="text-center" lang="fa">{{reservation.get_start_shamsi}} - ساعت ۱۴</td>
                <td class="text-center" lang="fa">{{reservation.get_end_shamsi}} - ساعت ۱۲</td>
                <td class="text-center" lang="fa">{{reservation.get_cleaning_text}}</td>
                <td class="text-center" lang="fa">{{reservation.get_more_capacity}}</td>
                <td class="text-center" lang="fa">{{reservation.get_paid}}</td>
                <td class="text-center" lang="fa">{{reservation.get_total_pay}}</td>
              </tr>
              <!-- <tr len="872">
                <td colspan="3" class="align-top px-4 py-5" len="238">
                  <p class="mb-2" len="132">
                    <font lang="fa"><span class="me-1 fw-semibold" len="12">فروشنده:</span> <span len="14">الفی
                        سولومون</span></font>
                  </p>
                  <span len="24" lang="fa">با تشکر برای کسب و کار شما</span>
                </td>
                <td class="text-end px-4 py-5" len="191" style="text-align: right;">
                  <p class="mb-2" len="9" style="text-align: right;" lang="fa">زیر مجموعه:</p>
                  <p class="mb-2" len="9" style="text-align: right;" lang="fa">تخفیف:</p>
                  <p class="mb-2" len="4" style="text-align: right;" lang="fa">مالیات:</p>
                  <p class="mb-0" len="6" style="text-align: right;" lang="fa">مجموع:</p>
                </td>
                <td class="px-4 py-5" len="273">
                  <p class="fw-semibold mb-2 text-end" len="7" style="text-align: right;" lang="fa">$154.25</p>
                  <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$00.00</p>
                  <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$50.00</p>
                  <p class="fw-semibold mb-0 text-end" len="7" style="text-align: right;" lang="fa">$204.25</p>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="card-body" len="307">
          <div class="row" len="268">
            <div class="col-12" len="222">
              <font>
                <font lang="fa"><span class="fw-bold" len="5">نکته:</span> </font><span len="138">
                  <font lang="fa">لطفا برای پرداخت فیلترشکن خود را خاموش بفرمایید</font>
                </span>
                <font></font>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Invoice -->

    <!-- Invoice Actions -->
    <div class="col-xl-3 col-md-4 col-12 invoice-actions" len="1132">
      <div class="card" len="1100">
        <div class="card-body" style="text-align: center;">
          <!-- <button class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" len="28" lang="fa"> دانلود </button> -->
          <a class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" target="_blank"
            href="{% url 'account:billprint' reservation.reserve_id %}" len="25" lang="fa"> چاپ </a>
          <div class="center">
              <h3>مبلع نهایی: {{ reservation.total_pay }} تومان</h3>
          </div>
          </h3n>
          <button class="btn btn-success d-grid w-100 waves-effect waves-light" data-bs-toggle="offcanvas"
        {% if request.user.uesr_status == "admin_level_2" %}
          <a href="app-invoice-edit.html" class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" len="32"
            lang="fa"> ویرایش فاکتور </a>
        {% endif %}
            <button class="btn btn-success d-grid w-100 waves-effect waves-light" data-bs-toggle="offcanvas"
            data-bs-target="#addPaymentOffcanvas" len="154">
            <span class="d-flex align-items-center justify-content-center text-nowrap" len="52"><i
                class="mdi mdi-currency-usd me-1" len="0"></i>
              <font lang="fa">پرداخت</font>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- /Invoice Actions -->
  </div>
  <!-- Offcanvas -->
  <!-- Send Invoice Sidebar -->
  <div class="offcanvas offcanvas-end" id="sendInvoiceOffcanvas" aria-hidden="true" len="2063">
    <div class="offcanvas-header mb-3" len="165">
      <h5 class="offcanvas-title" len="12" lang="fa">ارسال فاکتور</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        len="0"></button>
    </div>
    <div class="offcanvas-body flex-grow-1" len="1804">
      <form>
        <div class="form-floating form-floating-outline mb-4" len="185">
          <input type="text" class="form-control" id="invoice-from" value="shelbyComapny@email.com"
            placeholder="company@email.com" len="0">
          <label for="invoice-from" len="4" style="text-align: right;" lang="fa">از</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="179">
          <input type="text" class="form-control" id="invoice-to" value="qConsolidated@email.com"
            placeholder="company@email.com" len="0">
          <label for="invoice-to" len="2" style="text-align: right;" lang="fa">به</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="213">
          <input type="text" class="form-control" id="invoice-subject" value="Invoice of purchased Admin Templates"
            placeholder="Invoice regarding goods" len="0">
          <label for="invoice-subject" len="7" style="text-align: right;" lang="fa">موضوع</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="411">
          <textarea class="form-control" name="invoice-message" id="invoice-message" style="height: 190px;" len="233">Dear Queen Consolidated,
                        Thank you for your business, always a pleasure to work with you!
                        We have generated a new invoice in the amount of $95.59
                        We would appreciate payment of this invoice by 05/11/2021</textarea>
          <label for="invoice-message" len="7" style="text-align: right;" lang="fa">پیام</label>
        </div>
        <div class="mb-4" len="191">
          <span class="badge bg-label-primary" len="131">
            <i class="mdi mdi-link-variant mdi-14px me-1" len="0"></i>
            <span class="align-middle" len="16" lang="fa">فاکتور پیوست شده</span>
          </span>
        </div>
        <div class="mb-3 d-flex flex-wrap" len="252">
          <button type="button" class="btn btn-primary me-3 waves-effect waves-light" data-bs-dismiss="offcanvas"
            len="4" lang="fa">ارسال</button>
          <button type="button" class="btn btn-label-secondary waves-effect" data-bs-dismiss="offcanvas" len="6"
            lang="fa">لغو</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Send Invoice Sidebar -->

  <!-- Add Payment Sidebar -->
  <div class="offcanvas offcanvas-end" id="addPaymentOffcanvas" aria-hidden="true" len="2160">
    <div class="offcanvas-header mb-3" len="164">
      <h5 class="offcanvas-title" len="11" lang="fa">اضافه کردن پرداخت</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        len="0"></button>
    </div>
    <div class="offcanvas-body flex-grow-1" len="1902">
      <div class="d-flex justify-content-between bg-lighter p-2 mb-3" len="91">
        <p class="mb-0" len="16" lang="fa">موجودی فاکتور:</p>
        <p class="fw-bold mb-0" len="8" lang="fa">$5000.00</p>
      </div>
      <form>
        <div class="input-group input-group-merge mb-4" len="312">
          <span class="input-group-text" len="1">ریال</span>
          <div class="form-floating form-floating-outline" len="193">
            <input type="text" id="invoiceAmount" name="invoiceAmount" class="form-control invoice-amount"
              placeholder="100" len="0">
            <label for="invoiceAmount" len="14" style="text-align: right;" lang="fa">مبلغ پرداخت</label>
          </div>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="178">
          <input id="payment-date" class="form-control invoice-date flatpickr-input" type="text" readonly="readonly"
            len="0">
          <label for="payment-date" len="12" style="text-align: right;" lang="fa">تاریخ پرداخت</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="496">
          <select class="form-select" id="payment-method" style="text-align: right;">
            <option value="" selected="" disabled="" len="21">روش پرداخت را انتخاب کنید</option>
            <option value="Cash" len="4">پول نقد</option>
            <option value="Bank Transfer" len="13">انتقال بانکی</option>
            <option value="کارت اعتباری" len="10">دبیت کارت</option>
            <option value="کارت اعتباری" len="11">کارت اعتباری</option>
            <option value="Paypal" len="6">پی پال</option>
          </select>
          <label for="payment-method" len="14" style="text-align: right;" lang="fa">روش پرداخت</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="162">
          <textarea class="form-control" id="payment-note" style="height: 62px;" len="0"></textarea>
          <label for="payment-note" len="21" style="text-align: right;" lang="fa">یادداشت پرداخت داخلی</label>
        </div>
        <div class="mb-3 d-flex flex-wrap" len="252">
          <button type="button" class="btn btn-primary me-3 waves-effect waves-light" data-bs-dismiss="offcanvas"
            len="4" lang="fa">ارسال</button>
          <button type="button" class="btn btn-label-secondary waves-effect" data-bs-dismiss="offcanvas" len="6"
            lang="fa">لغو</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Add Payment Sidebar -->
  <!-- /Offcanvas -->
</div>
<!-- / Content -->
{% endblock %}
{% block vondors-js %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock %}
{% block page-js %}
<!-- Page JS -->
<script src="{% static 'js/offcanvas-add-payment.js' %}"></script>
<script src="{% static 'js/offcanvas-send-invoice.js' %}"></script>
{% endblock %}