{% load static %}
<!DOCTYPE html>
<html
  lang="en"
  class="light-style"
  dir="rtl"
  data-theme="theme-default"
  data-assets-path="{% static '' %}"
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>صورتحساب چاپ | حسینیه مرحوم مهدیان</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="img/favicon/favicon.ico"
    />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/fonts/materialdesignicons.css' %}"
    />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/css/rtl/core.css' %}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/css/rtl/theme-default.css' %}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fonts/IRANSans.css' %}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/node-waves/node-waves.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}"
    />

    <!-- Page CSS -->

    <link
      rel="stylesheet"
      href="{% static 'vendor/css/pages/app-invoice-print.css' %}"
    />
    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="invoice-print p-5">
      <div class="card-body" len="3428">
        <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column" len="3311">
          <div class="mb-xl-0 pb-3" len="2944">
            <div class="d-flex svg-illustration align-items-center gap-2 mb-4" len="2644">
              <h5 len="14" lang="fa" style="">فاکتور : {{ reservation.reserve_id }}</h5>
            </div>
            <p class="mb-1" len="36" lang="fa" style="">حسینیه مرحوم مهدیان - {{reservation.resource}}</p>
          </div>
          <div len="293">
            <div class="mb-1" len="95">
              <font lang="fa" style=""><span len="12">تاریخ انتشار:</span> <span len="14">{{reservation.get_created_at_shamsi}}</span></font>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="card-body" len="1326">
        <div class="d-flex justify-content-between flex-wrap" len="1250">
          <div class="my-3" len="317">
            <h6 class="pb-2" len="11" lang="fa">فاکتور اجاره:</h6>
            <p class="mb-1" len="13" lang="fa">نام :‌{{reservation.user.username}}</p>
            <p class="mb-1" len="22" lang="fa">نام خانوادگی :{{reservation.user.lastname}}</p>
            <p class="mb-1" len="24" lang="fa">شماره موبایل :{{reservation.user.mobile_number}}</p>
            <p class="mb-1" len="12" lang="fa">سطح کاربر :{{reservation.user.user_status}}</p>
          </div>
          <!-- <div class="my-3" len="854">
            <h6 class="pb-2" len="8" lang="fa" style="">بیل به:</h6>
            <table len="772">
              <tbody len="729">
                <tr len="116">
                  <td class="pe-3 fw-medium" len="10" lang="fa" style="">مجموع به علت:</td>
                  <td len="10" lang="fa" style="">$12،110.55</td>
                </tr>
                <tr len="119">
                  <td class="pe-3 fw-medium" len="10" lang="fa">نام بانک:</td>
                  <td len="13" lang="fa" style="">بانک امریکایی</td>
                </tr>
                <tr len="117">
                  <td class="pe-3 fw-medium" len="8" lang="fa">کشور:</td>
                  <td len="13" lang="fa" style="">ایالات متحده</td>
                </tr>
                <tr len="118">
                  <td class="pe-3 fw-medium" len="5" lang="fa" style="">ایبان:</td>
                  <td len="17" lang="fa" style="">دانلود: ETD95476213874685.000</td>
                </tr>
                <tr len="114">
                  <td class="pe-3 fw-medium" len="11" lang="fa" style="">کد سوئیفت:</td>
                  <td len="7" lang="fa">BR91905 (برزیلی)</td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
      </div>
      <div class="table-responsive" len="2219">
        <table class="table m-0" len="2170">
          <thead class="table-light border-top" len="193">
            <tr len="160">
              <th class="text-center" lang="fa">واحد</th>
              <th class="text-center" lang="fa">تاریخ ورود</th>
              <th class="text-center" lang="fa">تاریخ خروج</th>
              <th class="text-center" lang="fa">نظافت</th>
              <th class="text-center" lang="fa">ظرفیت بیشتر</th>
              <th class="text-center" lang="fa">وضعیت پرداخت</th>
              <th class="text-center" lang="fa">مبلغ نهایی</th>
            </tr>
          </thead>
          <tbody len="1885">
            <tr len="222">
              <td class="text-center" lang="fa">{{reservation.resource}}</td>
              <td class="text-center" lang="fa">{{reservation.get_start_shamsi}} - ساعت ۱۴</td>
              <td class="text-center" lang="fa">{{reservation.get_end_shamsi}} - ساعت ۱۲</td>
              <td class="text-center" lang="fa">{{reservation.get_cleaning_text}}</td>
              <td class="text-center" lang="fa">{{reservation.get_more_capacity}}</td>
              <td class="text-center" lang="fa">{{reservation.get_paid}}</td>
              <td class="text-center" lang="fa">{{reservation.get_total_pay}}</td>
            </tr>
            <!-- <tr len="872">
              <td colspan="3" class="align-top px-4 py-5" len="238">
                <p class="mb-2" len="132">
                  <font lang="fa"><span class="me-1 fw-semibold" len="12">فروشنده:</span> <span len="14">الفی
                      سولومون</span></font>
                </p>
                <span len="24" lang="fa">با تشکر برای کسب و کار شما</span>
              </td>
              <td class="text-end px-4 py-5" len="191" style="text-align: right;">
                <p class="mb-2" len="9" style="text-align: right;" lang="fa">زیر مجموعه:</p>
                <p class="mb-2" len="9" style="text-align: right;" lang="fa">تخفیف:</p>
                <p class="mb-2" len="4" style="text-align: right;" lang="fa">مالیات:</p>
                <p class="mb-0" len="6" style="text-align: right;" lang="fa">مجموع:</p>
              </td>
              <td class="px-4 py-5" len="273">
                <p class="fw-semibold mb-2 text-end" len="7" style="text-align: right;" lang="fa">$154.25</p>
                <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$00.00</p>
                <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$50.00</p>
                <p class="fw-semibold mb-0 text-end" len="7" style="text-align: right;" lang="fa">$204.25</p>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-12 lh-1-85 mt-3">
          <span class="fw-semibold">یادداشت:</span>
          <span
            >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
            مجله</span
          >
        </div>
      </div>
    </div>

    <!-- / Content -->

    <div class="buy-now">
      <a
        href="https://www.rtl-theme.com/"
        target="_blank"
        class="btn btn-danger btn-buy-now"
        >خرید قالب</a
      >
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>

    <script src="{% static 'vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'js/app-invoice-print.js' %}"></script>
  </body>
</html>

<!-- beautify ignore:end -->
