{% extends 'account/base.html' %}
{% load static %}
{% load jformat %}
{% load boolean_visualize %}
{% block vendors-css %}
{% endblock %}

{% block page-css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}"/>
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}"
    />


{% endblock %}

{% block contant %}
<div class="container-xxl flex-grow-1 container-p-y">
{% if request.user.user_status != "normal" %}
      <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-primary rounded">
                    <div class="mdi mdi-account-outline mdi-24px"></div>
                  </div>
                </div>
                <div class="ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0">{{ total_customers }}</h5>
    {#                <div#}
    {#                  class="mdi mdi-chevron-down text-danger mdi-24px"#}
    {#                ></div>#}
    {#                <small class="text-danger">8.1%</small>#}
                  </div>
                  <small class="text-muted"> کل مشتری ها</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-warning rounded">
                    <div class="mdi mdi-poll mdi-24px"></div>
                  </div>
                </div>
                <div class="ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0"> {{ total_purchase }}</h5>
    {#                <div#}
    {#                  class="mdi mdi-chevron-up text-success mdi-24px"#}
    {#                ></div>#}
    {#                <small class="text-success">18.2%</small>#}
                  </div>
                  <small class="text-muted">  کل پرداخت ها</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-info rounded">
                    <div class="mdi mdi-trending-up mdi-24px"></div>
                  </div>
                </div>
                <div class="ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0">{{ total_reservations }}</h5>
    {#                <div#}
    {#                  class="mdi mdi-chevron-down text-danger mdi-24px"#}
    {#                ></div>#}
    {#                <small class="text-danger">24.6%</small>#}
                  </div>
                  <small class="text-muted"> تعداد کل رزور ها</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-success rounded">
                    <div class="mdi mdi-currency-usd mdi-24px"></div>
                  </div>
                </div>
                <div class="ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0">{{ total_income }}</h5>
    {#                <div#}
    {#                  class="mdi mdi-chevron-down text-success mdi-24px"#}
    {#                ></div>#}
    {#                <small class="text-success">22.5%</small>#}
                  </div>
                  <small class="text-muted">کل درآمد</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-info rounded">
                    <div class="mdi mdi-trending-up mdi-24px"></div>
                  </div>
                </div>
                <div class="ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0">{{ total_cancellation }}</h5>
    {#                <div#}
    {#                  class="mdi mdi-chevron-down text-danger mdi-24px"#}
    {#                ></div>#}
    {#                <small class="text-danger">24.6%</small>#}
                  </div>
                  <small class="text-muted"> تعداد کل کنسلی ها</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endif %}
    <!-- Invoice List Table -->
    <div class="card">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">لیست /</span> رزروها
        </h4>
        <div class="card-datatable table-responsive">
            <label for="min-price"> حداقل قیمت : </label>
            <input type="number" id="min-price" placeholder="حداقل قیمت را وارد کنید">
            <label for="max-price"> حداکثر قیمت :</label>
            <input type="number" id="max-price" placeholder="حداکثر قیمت را وارد کنید">
            <label for="status-filter"> فیلتر وضعیت </label>
            <select id="status-filter" class="status-filter">
                <option value="">بدون فیلتر وضعیت</option>
                <option value="در انتظار پرداخت">در انتظار پرداخت</option>
                <option value="تایید شده">تایید شده</option>
                <option value="کنسل شده">کنسل شده</option>
                <option value="منقضی شده">منقضی شده</option>
                <option value="نظافت">نظافت</option>
            </select>
            <br>
          <table id="TableofR">
            <thead>
              <tr>
                <th>شناسه رزرو</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>عنوان</th>
                <th>ایجاد کننده</th>
                <th>کاربر</th>
                <th>پرداخت شده</th>
                <th>شناسه پرداخت</th>
                <th>اتاق</th>
                <th>وضعیت</th>
                <th>نظافت</th>
                <th>ظرفیت بیشتر</th>
                <th>مبلغ کل</th>
              </tr>
            </thead>
            <tbody>
              {% for r in reserve%}
                <tr>
                  <td>{{ r.reserve_id }}</td>
                  <td>{{ r.start | jformat:' %Y/%m/%d'}}</td>
                  <td>{{ r.end | jformat:' %Y/%m/%d'}}</td>
                  <td><a href="{% url 'account:billdetail' r.reserve_id %}">{{ r.title }}</a></td>
                  <td>{{ r.author.username }}</td>
                  <td>{{ r.user.username }}</td>
                  <td>{% render_boolean_icon r.paid %}</td>
                  <td>{{ r.payment_id }}</td>
                  <td>{{ r.resource.name }}</td>
                  <td>{{ r.get_status_display }}</td>
                  <td>{% render_boolean_icon r.cleaning %}</td>
                  <td>{{ r.more_capacity }}</td>
                  <td>{{ r.total_pay }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</div>
{% endblock %}

{% block vondors-js %}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<!-- <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script> -->
{% endblock %}

{% block page-js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.4/i18n/fa.json"></script>
<!-- <script src="{% static 'js/app-invoice-list.js' %}"></script> -->


<script>
    $(document).ready( function () {
    var table = $('#TableofR').DataTable({
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/fa.json'
        }
    });
        // Create the range filtering function
    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {
            var min = parseInt($('#min-price').val(), 10);
            var max = parseInt($('#max-price').val(), 10);
            var price = parseFloat(data[12]) || 0; // use data for the 'Total Pay' column

            if ((isNaN(min) && isNaN(max)) ||
                 (isNaN(min) && price <= max) ||
                 (min <= price && isNaN(max)) ||
                 (min <= price && price <= max)) {
                return true;
            }
            return false;
        }
    );

    $('#status-filter').on('change', function() {
        var value = $(this).val();
        table.column(7).search(value).draw();
    });

    // Re-draw the table whenever the input values change
    $('#min-price, #max-price').on('keyup', function() {
        table.draw();
    });


} );
</script>
{% endblock %}