{% extends 'account/base.html' %}
{% load static %}
{% block vendors-css %}
<!-- Vendors CSS -->
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<!-- Page CSS -->
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-invoice.css' %}" />
{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" len="13520">
  <div class="row invoice-preview" len="8865">
    <!-- Invoice -->
    <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4" len="7514">
      <div class="card invoice-preview-card" len="7461">
        <div class="card-body" len="3428">
          <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column" len="3311">
            <div class="mb-xl-0 pb-3" len="2944">
              <div class="d-flex svg-illustration align-items-center gap-2 mb-4" len="2644">
                <h5 len="14" lang="fa" style="">فاکتور : {{ reservation.reserve_id }}</h5>
              </div>
              <p class="mb-1" len="36" lang="fa" style="">حسینیه مرحوم مهدیان - {{reservation.resource}}</p>
            </div>
            <div len="293">
              <div class="mb-1" len="95">
                <font lang="fa" style=""><span len="12">تاریخ انتشار:</span> <span len="14">{{reservation.get_created_at_dhamsi}}</span></font>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" len="0">
        <div class="card-body" len="1326">
          <div class="d-flex justify-content-between flex-wrap" len="1250">
            <div class="my-3" len="317">
              <h6 class="pb-2" len="11" lang="fa">فاکتور به:</h6>
              <p class="mb-1" len="13" lang="fa">{{ reservation.user.fullname }}</p>
              <p class="mb-1" len="22" lang="fa">شرکت تیک تاک</p>
              <p class="mb-1" len="24" lang="fa">کوچک هیث، B10 0HF، انگلستان</p>
              <p class="mb-1" len="12" lang="fa">718-986-6062</p>
              <p class="mb-0" len="24" lang="fa">example@gmail.com</p>
            </div>
            <div class="my-3" len="854">
              <h6 class="pb-2" len="8" lang="fa" style="">بیل به:</h6>
              <table len="772">
                <tbody len="729">
                  <tr len="116">
                    <td class="pe-3 fw-medium" len="10" lang="fa" style="">مجموع به علت:</td>
                    <td len="10" lang="fa" style="">$12،110.55</td>
                  </tr>
                  <tr len="119">
                    <td class="pe-3 fw-medium" len="10" lang="fa">نام بانک:</td>
                    <td len="13" lang="fa" style="">بانک امریکایی</td>
                  </tr>
                  <tr len="117">
                    <td class="pe-3 fw-medium" len="8" lang="fa">کشور:</td>
                    <td len="13" lang="fa" style="">ایالات متحده</td>
                  </tr>
                  <tr len="118">
                    <td class="pe-3 fw-medium" len="5" lang="fa" style="">ایبان:</td>
                    <td len="17" lang="fa" style="">دانلود: ETD95476213874685.000</td>
                  </tr>
                  <tr len="114">
                    <td class="pe-3 fw-medium" len="11" lang="fa" style="">کد سوئیفت:</td>
                    <td len="7" lang="fa">BR91905 (برزیلی)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive" len="2219">
          <table class="table m-0" len="2170">
            <thead class="table-light border-top" len="193">
              <tr len="160">
                <th len="4" lang="fa">مورد</th>
                <th len="11" lang="fa">توضیحات</th>
                <th len="4" lang="fa" style="">هزینه</th>
                <th len="3" lang="fa">تعداد</th>
                <th len="5" lang="fa">قيمت</th>
              </tr>
            </thead>
            <tbody len="1885">
              <tr len="222">
                <td class="text-nowrap" len="20" lang="fa">قالب مدیریت Vuexy</td>
                <td class="text-nowrap" len="19" lang="fa">قالب مدیریت HTML</td>
                <td len="3" lang="fa" style="">$32</td>
                <td len="1" lang="fa">1</td>
                <td len="6" lang="fa">$32.00</td>
              </tr>
              <tr len="225">
                <td class="text-nowrap" len="20" lang="fa">Frest Admin الگو</td>
                <td class="text-nowrap" len="22" lang="fa">قالب مدیریت زاویه ای</td>
                <td len="3" lang="fa">$22</td>
                <td len="1" lang="fa">1</td>
                <td len="6" lang="fa">$22.00</td>
              </tr>
              <tr len="221">
                <td class="text-nowrap" len="19" lang="fa">Apex Admin الگو</td>
                <td class="text-nowrap" len="19" lang="fa">قالب مدیریت HTML</td>
                <td len="3" lang="fa">$17</td>
                <td len="1" lang="fa">2</td>
                <td len="6" lang="fa">$34.00</td>
              </tr>
              <tr len="224">
                <td class="text-nowrap" len="21" lang="fa">قالب مدیریت قوی</td>
                <td class="text-nowrap" len="20" lang="fa">قالب مدیر ریاکت</td>
                <td len="3" lang="fa">$66</td>
                <td len="1" lang="fa">1</td>
                <td len="6" lang="fa">$66.00</td>
              </tr>
              <tr len="872">
                <td colspan="3" class="align-top px-4 py-5" len="238">
                  <p class="mb-2" len="132">
                    <font lang="fa"><span class="me-1 fw-semibold" len="12">فروشنده:</span> <span len="14">الفی
                        سولومون</span></font>
                  </p>
                  <span len="24" lang="fa">با تشکر برای کسب و کار شما</span>
                </td>
                <td class="text-end px-4 py-5" len="191" style="text-align: right;">
                  <p class="mb-2" len="9" style="text-align: right;" lang="fa">زیر مجموعه:</p>
                  <p class="mb-2" len="9" style="text-align: right;" lang="fa">تخفیف:</p>
                  <p class="mb-2" len="4" style="text-align: right;" lang="fa">مالیات:</p>
                  <p class="mb-0" len="6" style="text-align: right;" lang="fa">مجموع:</p>
                </td>
                <td class="px-4 py-5" len="273">
                  <p class="fw-semibold mb-2 text-end" len="7" style="text-align: right;" lang="fa">$154.25</p>
                  <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$00.00</p>
                  <p class="fw-semibold mb-2 text-end" len="6" style="text-align: right;" lang="fa">$50.00</p>
                  <p class="fw-semibold mb-0 text-end" len="7" style="text-align: right;" lang="fa">$204.25</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-body" len="307">
          <div class="row" len="268">
            <div class="col-12" len="222">
              <font>
                <font lang="fa"><span class="fw-bold" len="5">وی افزود:</span> </font><span len="138">
                  <font lang="fa">از همکاری با شما و تیمتان لذت بردم. </font>
                  <font lang="fa">ما امیدواریم که شما ما را در ذهن برای پروژه های ازاد اینده نگه دارید. </font>
                  <font lang="fa">سپاسگزارم!</font>
                </span>
                <font></font>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Invoice -->

    <!-- Invoice Actions -->
    <div class="col-xl-3 col-md-4 col-12 invoice-actions" len="1132">
      <div class="card" len="1100">
        <div class="card-body" len="1059">
          <button class="btn btn-primary d-grid w-100 mb-3 waves-effect waves-light" data-bs-toggle="offcanvas"
            data-bs-target="#sendInvoiceOffcanvas" len="169">
            <span class="d-flex align-items-center justify-content-center text-nowrap" len="67"><i
                class="mdi mdi-send-outline scaleX-n1-rtl me-1" len="0"></i>
              <font lang="fa">ارسال فاکتور</font>
            </span>
          </button>
          <button class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" len="28" lang="fa"> دانلود </button>
          <a class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" target="_blank"
            href="{% url 'reserve:billprint' reservation.reserve_id %}" len="25" lang="fa"> چاپ </a>
        {% if request.user.uesr_status == "admin_level_2" %}
          <a href="app-invoice-edit.html" class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" len="32"
            lang="fa"> ویرایش فاکتور </a>
        {% endif %}
        {% if reservation.status == "pending_payment" %}
            <button class="btn btn-success d-grid w-100 waves-effect waves-light" data-bs-toggle="offcanvas"
            data-bs-target="#addPaymentOffcanvas" len="154">
            <span class="d-flex align-items-center justify-content-center text-nowrap" len="52"><i
                class="mdi mdi-currency-usd me-1" len="0"></i>
              <font lang="fa">اضافه کردن پرداخت</font>
            </span>
          </button>
        {% endif %}
        </div>
      </div>
    </div>
    <!-- /Invoice Actions -->
  </div>
  <!-- Offcanvas -->
  <!-- Send Invoice Sidebar -->
  <div class="offcanvas offcanvas-end" id="sendInvoiceOffcanvas" aria-hidden="true" len="2063">
    <div class="offcanvas-header mb-3" len="165">
      <h5 class="offcanvas-title" len="12" lang="fa">ارسال فاکتور</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        len="0"></button>
    </div>
    <div class="offcanvas-body flex-grow-1" len="1804">
      <form>
        <div class="form-floating form-floating-outline mb-4" len="185">
          <input type="text" class="form-control" id="invoice-from" value="shelbyComapny@email.com"
            placeholder="company@email.com" len="0">
          <label for="invoice-from" len="4" style="text-align: right;" lang="fa">از</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="179">
          <input type="text" class="form-control" id="invoice-to" value="qConsolidated@email.com"
            placeholder="company@email.com" len="0">
          <label for="invoice-to" len="2" style="text-align: right;" lang="fa">به</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="213">
          <input type="text" class="form-control" id="invoice-subject" value="Invoice of purchased Admin Templates"
            placeholder="Invoice regarding goods" len="0">
          <label for="invoice-subject" len="7" style="text-align: right;" lang="fa">موضوع</label>
        </div>
        <div class="form-floating form-floating-outline mb-4" len="411">
          <textarea class="form-control" name="invoice-message" id="invoice-message" style="height: 190px;" len="233">Dear Queen Consolidated,
                        Thank you for your business, always a pleasure to work with you!
                        We have generated a new invoice in the amount of $95.59
                        We would appreciate payment of this invoice by 05/11/2021</textarea>
          <label for="invoice-message" len="7" style="text-align: right;" lang="fa">پیام</label>
        </div>
        <div class="mb-4" len="191">
          <span class="badge bg-label-primary" len="131">
            <i class="mdi mdi-link-variant mdi-14px me-1" len="0"></i>
            <span class="align-middle" len="16" lang="fa">فاکتور پیوست شده</span>
          </span>
        </div>
        <div class="mb-3 d-flex flex-wrap" len="252">
          <button type="button" class="btn btn-primary me-3 waves-effect waves-light" data-bs-dismiss="offcanvas"
            len="4" lang="fa">ارسال</button>
          <button type="button" class="btn btn-label-secondary waves-effect" data-bs-dismiss="offcanvas" len="6"
            lang="fa">لغو</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Send Invoice Sidebar -->

  <!-- Add Payment Sidebar -->
  <div class="offcanvas offcanvas-end" id="addPaymentOffcanvas" aria-hidden="true" len="2160">
    <div class="offcanvas-header mb-3" len="164">
        {% if reservation.status == "pending_payment" %}
            <h5 class="offcanvas-title" len="11" lang="fa">اضافه کردن پرداخت</h5>
        {% endif %}      
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
        len="0"></button>
    </div>
  {% if reservation.status == "pending_payment" %}
    <div class="offcanvas-body flex-grow-1" len="1902">
      <div class="d-flex justify-content-between bg-lighter p-2 mb-3" len="91">
        <p class="mb-0" len="16" lang="fa">مبلغ پرداختی :</p>
        <p class="fw-bold mb-0" len="8" lang="fa">{{ reservation.total_pay }}</p>
      </div>
        {% url 'zarinpal:request' %}
      <form action="{% url 'zarinpal:request' %}" method="post">
          {% csrf_token %}
         <input type="hidden" id="order_id" name="order_id" value="{{ reservation.reserve_id }}"> 
        <div class="form-floating form-floating-outline mb-4" len="162">
          <textarea class="form-control" id="description" name="description" style="height: 62px;" len="0">صورت حساب روز حسینیه به شماره فاکتور
               {{ reservation.reserve_id }}   </textarea>
          <label for="payment-note" len="21" style="text-align: right;" lang="fa">یادداشت پرداخت </label>
        </div>
        <div class="mb-3 d-flex flex-wrap" len="252">
            
          <button type="submit" class="btn btn-primary me-3 waves-effect waves-light" 
            len="4" lang="fa">ارسال</button>
        </div>
      </form>
    </div>
  {% endif %}
  </div>
  <!-- /Add Payment Sidebar -->
  <!-- /Offcanvas -->
</div>
<!-- / Content -->
{% endblock %}
{% block vondors-js %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock %}
{% block page-js %}
<!-- Page JS -->
<script src="{% static 'js/offcanvas-add-payment.js' %}"></script>
<script src="{% static 'js/offcanvas-send-invoice.js' %}"></script>
{% endblock %}