{% extends 'account/base.html' %}
{% load static %}
{% load jformat %}
{% load reserve_tags %}
{% block vendors-css %}
<!-- Vendors CSS -->
<!--suppress SpellCheckingInspection -->
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<!-- Page CSS -->
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-invoice.css' %}" />
{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row invoice-preview mx-xl-2">
    <!-- Invoice -->
    <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
      <div class="card invoice-preview-card">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column">
            <div class="mb-xl-0 pb-3">
              <div class="d-flex svg-illustration align-items-center gap-2 mb-4">
                <h5 lang="fa" style="">فاکتور : {{ reservation.reserve_id }}</h5>
              </div>
              <h4 class="mb-1" lang="fa" style="">حسینیه مرحوم مهدیان - {{reservation.resource}}</h4>
            </div>
            <div>
              <div class="mb-1">
                <span lang="fa" style=""><span>تاریخ انتشار:</span> <span>{{reservation.created_at | jformat:'%Y/%m/%d'}}</span></span>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h5 class="pb-2" lang="fa">فاکتور به</h5>
              <div class="demo-inline-spacing mt-3">
                <ul class="list-group">
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-account me-2"></i>
                    <p class="mb-1" lang="fa"> نام و نام‌خانوادگی: 
                      {% if reservation.user.get_full_name %}  
                      {{ reservation.user.get_full_name }}
                      {% else %}
                      وارد نشده‌است.
                      {% endif %} 
                    </p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-id-card me-2"></i>
                    <p class="mb-1" lang="fa"> کدملی: 
                      {% if reservation.user.national_code %} 
                      {{ reservation.user.national_code }}
                      {% else %}
                      وارد نشده‌است.
                      {% endif %}
                    </p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-phone me-2"></i>
                    <p class="mb-0" lang="fa"> شماره همراه: {{reservation.user.mobile_number}}</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <h5 class="pb-2" lang="fa">مشخصات رزرو</h5>
              <div class="demo-inline-spacing mt-3">
                <ul class="list-group">
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-calendar-check me-2"></i>
                    <p class="mb-1" lang="fa"> کد رزرو: {{ reservation.reserve_id }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-cash-multiple me-2"></i>
                    <p class="mb-1" lang="fa"> وضعیت رزرو: {{ reservation.get_status_display }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-check-circle me-2"></i>
                    <p class="mb-1" lang="fa"> وضعیت پرداخت: {{ reservation.get_paid }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-bed me-2"></i>
                    <p class="mb-0" lang="fa"> اتاق: {{ reservation.resource.name }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-calendar-plus me-2"></i>
                    <p class="mb-0" lang="fa"> شروع: {{ reservation.start  | jformat:'%Y/%m/%d' }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-calendar-remove me-2"></i>
                    <p class="mb-0" lang="fa"> پایان: {{ reservation.end  | jformat:'%Y/%m/%d' }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-currency-usd me-2"></i>
                    <p class="mb-0" lang="fa"> هزینه کل: 
                      {% if reservation.total_pay %}
                      {{ reservation.total_pay | intcomma_custom }} تومان
                      {% else %}
                      وارد نشده‌است.
                      {% endif %}
                    </p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-account-circle me-2"></i>
                    <p class="mb-0" lang="fa"> تعداد نفرات: {{ reservation.more_capacity }}</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <i class="mdi mdi-broom me-2"></i>
                    <p class="mb-0" lang="fa"> نظافت: {% render_boolean_icon reservation.cleaning %}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr>
        {% if not reservation.payment %}
          <div class="d-flex justify-content-between flex-wrap">
            {% if reservation.status == "pending_payment" %}
            {% if reservation.coupon %}
            <div>
              <div class="alert alert-success" role="alert">
                کد تخفیف با موفقیت اعمال شد.
              </div>   
            </div>         
            {% else %}
            <div class=" my-3">
                <form action="/coupon/apply/" method="post">
                  {% csrf_token %}
                  <div class="form-floating form-floating-outline mb-4">
                    <input type="text" id="coupon" class="form-control" name="coupon">
                    <label for="coupon" style="text-align: right;" lang="fa">کدتخفیف </label>  
                  </div>    
                  <input type="hidden" value="{{ reservation.reserve_id }}" name="reservation_id" >
                  <button type="submit" class="btn btn-primary me-3 waves-effect waves-light" lang="fa">اعمال کد تخفیف</button>
              </form>
            </div>
            {% endif %}
            {% endif %}
            <div class="px-5  my-3">
              {% if coupon and reservation.coupon %}
                <div>
                  <h5 class="pb-2" lang="fa" style="">تخفیف:</h5>
                  <div class="demo-inline-spacing mt-3">
                    <ul class="list-group">
                      <li class="list-group-item d-flex align-items-center">
                        <p class="mb-1" lang="fa"> مقدار کل: {{ reservation.total_pay | intcomma_custom }}</p>
                      </li>
                      <li class="list-group-item d-flex align-items-center">
                        <p class="mb-1" lang="fa"> مقدار تخفیف به درصد: {{ coupon.discount }}%</p>
                      </li>
                      <li class="list-group-item d-flex align-items-center">
                        <p class="mb-0" lang="fa"> مقدار تخفیف به تومان: {{ discount | intcomma_custom }} تومان </p>
                      </li>
                      <li class="list-group-item d-flex align-items-center">
                        <p class="mb-0" lang="fa"> مقدار کل با تخفیف: {{ total_pay_with_discount | intcomma_custom }} تومان </p>
                      </li>
                    </ul>
                  </div>
                </div>
              {% elif messages %}
                <ul class="messages fw-bold my-3 "> 
                  {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>    
          </div>
        {% endif %}
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-12">
              {% if payment %}
                <table id="TableofPayments" class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>شماره کارت</th>
                      <th>شناسه مرجع</th>
                      <th>تاریخ پرداخت</th>
                      <th>مبلغ پرداختی</th>
                      <th>تخفیف</th>
                      <th>کاربر</th>
                      <th>پرداخت توسط کارمند</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ payment.card_number }}</td>
                      <td>{{ payment.refrence_id }}</td>
                      <td>{{ payment.payment_date | jformat:' %Y/%m/%d' }}</td>
                      <td>{{ payment.cost_paid | intcomma_custom }} تومان</td>
                      <td>
                        {% if payment.discount %}
                        {{ payment.discount | intcomma_custom }} تومان
                        {% else %}
                        -
                        {% endif %}
                      </td>
                      <td>{{ payment.user.get_name }}</td>
                      <td>{% render_boolean_icon payment.paid_by_stuff %}</td>
                    </tr>
                  </tbody>
                </table>
              {% else %}
                <p> اطلاعات پرداخت موجود نیست پرداخت آنلاین صورت نگرفته است.</p>  
              {% endif %}  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Invoice -->



    <!-- Invoice Actions -->
    <div class="col-xl-3 col-md-4 col-12 invoice-actions">
      {% if request.user.user_status == 'admin_level_a' or request.user.user_status == 'admin_level_b' %}
      <div class="card mb-4">
        <div class="card-body">
          <div>  
            <form action="{% url 'reserve:billdetail' reservation.reserve_id %}" method="post">
              {% csrf_token %}
              <div class="form-floating form-floating-outline mb-4">
                {{ form_admin.status.label }}
                {{ form_admin.status }}
              </div> 
              <div class="form-floating form-floating-outline mb-4">
                {{ form_admin.paid.label }}
                {{ form_admin.paid }}
              </div> 
              <div class="mb-3 d-flex flex-wrap">
                <button type="submit" class="btn btn-primary me-3 waves-effect waves-light" lang="fa">ارسال</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if reservation.status == "pending_payment" or reservation.status == "confirmed" or reservation.status == "cancelled" or reservation.status == "onlocalpay" %}
      <div class="card">
        <div class="card-body">
        {% if reservation.status == "pending_payment" %}
          <div>  
            <form action="{% url 'zarinpal:request' %}" method="post">
              {% csrf_token %}
              <input type="hidden" id="order_id" name="order_id" value="{{ reservation.reserve_id }}"> 
              <div class="mb-3 d-flex flex-wrap">
                <button type="submit" class="btn btn-primary me-3 waves-effect waves-light" lang="fa"> پرداخت </button>
              </div>
              <div class="form-floating form-floating-outline mb-4">
                <p class="form-control" id="description" name="description" style="height: 62px;">صورت حساب رزرو حسینیه به شماره فاکتور <strong>{{ reservation.reserve_id }}</strong></p>
                <label for="payment-note" style="text-align: right;" lang="fa">یادداشت پرداخت </label>
              </div>  
            </form>
          </div>
        {% elif reservation.status == "confirmed" or reservation.status == "onlocalpay" %}
          {% if request.user.user_status == 'admin_level_a' or request.user.user_status == 'admin_level_b' %}
            <a class="btn btn-outline-secondary d-grid w-100 mb-3 waves-effect" target="_blank" href="{% url 'reserve:billprint' reservation.reserve_id %}" lang="fa">چاپ</a>
          {% else %}
            <div class="alert alert-info" role="alert">{{ reservation.get_status_display }}</div>
          {% endif %}
        {% elif reservation.status == "cancelled" %}
          <div class="alert alert-danger" role="alert">کنسل‌شده</div>
        {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
    <!-- /Invoice Actions -->
    
  </div>
<!-- / Content -->
{% endblock %}
{% block vondors-js %}
<!-- Vendors JS -->
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/jdate/jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/fa-jdate.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
{% endblock %}
{% block page-js %}
<!-- Page JS -->
<script src="{% static 'js/offcanvas-add-payment.js' %}"></script>
<script src="{% static 'js/offcanvas-send-invoice.js' %}"></script>
{% endblock %}